Repository OWASP/Nest, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, deploy, docker, docs, frontend, frontend-tests, makefile, nestbot, nestbot-tests, nginx, schema-tests

.github/labeler.yml:

backend:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - backend/**
          - all-globs-to-all-files:
              - '!backend/apps/slack/**'
              - '!backend/tests/slack/**'

backend-tests:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - backend/tests/**
          - all-globs-to-all-files:
              - '!backend/tests/slack/**'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - .github/ansible/**

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker-*.yaml
          - '**/Dockerfile.*'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - frontend/**

frontend-tests:
  - changed-files:
      - any-glob-to-any-file:
          - frontend/__tests__/**

makefile:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Makefile'

nestbot:
  - changed-files:
      - any-glob-to-any-file:
          - backend/apps/slack/**

nestbot-tests:
  - changed-files:
      - any-glob-to-any-file:
          - backend/tests/slack/**

nginx:
  - changed-files:
      - any-glob-to-any-file:
          - nginx/**

schema:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - schema/**
          - all-globs-to-all-files:
              - '!schema/tests/**'

schema-tests:
  - changed-files:
      - any-glob-to-any-file:
          - schema/tests/**

update
  frontend/src/components/ScrollUp.jsx
  frontend/src/components/ScrollUp.tsx
  frontend/tsconfig.json
Labels: frontend

commit
  backend/apps/owasp/admin.py
  backend/apps/owasp/management/commands/process_snapshots.py
  backend/apps/owasp/migrations/0017_alter_snapshot_options_and_more.py
  backend/apps/owasp/models/snapshot.py
  backend/tests/owasp/models/snapshot_test.py
Labels: none

fixed
  .github/ansible/production/nest.yaml
Labels: deploy

removed extra fields from the serializer
  backend/apps/owasp/api/event.py
  backend/tests/owasp/api/event_test.py
Labels: none

fixed
  backend/apps/owasp/migrations/0018_alter_snapshot_options_and_more.py
  backend/apps/owasp/models/snapshot.py
  backend/tests/owasp/models/snapshot_test.py
Labels: none

fix: new twitter icon
  frontend/src/utils/urlIconMappings.ts
Labels: frontend

fixed
  backend/poetry.lock
Labels: none

projectHealthMetrics, projectHealthRequirements models along with respective commands and tests
  backend/apps/owasp/management/commands/owasp_update_project_health_metrics.py
  backend/apps/owasp/management/commands/owasp_update_project_health_requirements.py
  backend/apps/owasp/migrations/0015_projecthealthmetrics.py
  backend/apps/owasp/migrations/0016_projecthealthrequirements.py
  backend/apps/owasp/models/project_health_metrics.py
  backend/apps/owasp/models/project_health_requirements.py
  backend/tests/owasp/management/commands/owasp_update_project_health_metrics_test.py
  backend/tests/owasp/management/commands/owasp_update_project_health_requirements_test.py
  backend/tests/owasp/models/project_health_metrics_test.py
  backend/tests/owasp/models/project_health_requirements_test.py
Labels: none

Update code
  .github/ansible/production/nest.yaml
  .github/ansible/production/proxy.yaml
  .github/ansible/production/sync-data.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  .pre-commit-config.yaml
  proxy/docker-compose.yaml
Labels: deploy

Add yamllint
  .pre-commit-config.yaml
  .yamllint
Labels: none

Clean up
  yamlfmt.yaml
Labels: none
