Repository OWASP/Nest, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, deploy, docker, docs, frontend, frontend-tests, makefile, nestbot, nestbot-tests, nginx, schema-tests

using google yamlfmt
  .github/ansible/inventory.yaml
  proxy/docker-compose.yaml
  yamlfmt.yaml
Labels: deploy

using google yamlfmt
  yamlfmt.yaml
Labels: none

fixed some queries
  backend/apps/owasp/graphql/nodes/chapter.py
  frontend/src/api/queries/homeQueries.ts
  frontend/src/pages/Home.tsx
  frontend/src/types/home.ts
Labels: frontend

fixed test
  frontend/__tests__/src/data/mockHomeData.ts
Labels: frontend, frontend-tests

Updated card skeleton and header button (#872)
  frontend/src/components/Header.tsx
  frontend/src/components/SkeletonsBase.tsx
  frontend/src/components/skeletons/Card.tsx
  frontend/src/types/skeleton.ts
Labels: frontend

Add Pull Request Mode and Improve Repository Model and Sync Repo
  backend/apps/github/common.py
  backend/apps/github/migrations/0016_pullrequest.py
  backend/apps/github/models/pull_request.py
Labels: none

removed comments
  frontend/__tests__/src/data/mockHomeData.ts
Labels: frontend, frontend-tests

wip
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/pages/UserDetails.tsx
Labels: frontend

Minor Updates
  backend/poetry.lock
  frontend/package-lock.json
  schema/tests/chapter_test.py
  schema/tests/common/community_test.py
  schema/tests/common/logo_test.py
  schema/tests/common/person_test.py
  schema/tests/common/repository_test.py
  schema/tests/common/social_media_test.py
  schema/tests/common/sponsor_test.py
  schema/tests/conftest.py
  schema/tests/project_test.py
  schema/utils/schema_validators.py
Labels: frontend, schema-tests

Update chapter_test.py
  schema/tests/chapter_test.py
Labels: schema-tests

Update chapter_test.py
  schema/tests/chapter_test.py
Labels: schema-tests

Update project_test.py
  schema/tests/project_test.py
Labels: schema-tests

Update branch
  schema/tests/chapter_test.py
  schema/tests/data/chapter/negative/events-empty.yaml
  schema/tests/data/chapter/negative/events-non-unique.yaml
  schema/tests/data/chapter/negative/logo-large-empty.yaml
  schema/tests/data/chapter/negative/logo-large-invalid.yaml
  schema/tests/data/chapter/negative/logo-large-null.yaml
  schema/tests/data/chapter/negative/logo-medium-empty.yaml
  schema/tests/data/chapter/negative/logo-medium-invalid.yaml
  schema/tests/data/chapter/negative/logo-medium-null.yaml
  schema/tests/data/chapter/negative/logo-small-empty.yaml
  schema/tests/data/chapter/negative/logo-small-invalid.yaml
  schema/tests/data/chapter/negative/logo-small-null.yaml
  schema/tests/data/project/negative/logo-large-empty.yaml
  schema/tests/data/project/negative/logo-large-invalid.yaml
  schema/tests/data/project/negative/logo-large-null.yaml
  schema/tests/data/project/negative/logo-medium-empty.yaml
  schema/tests/data/project/negative/logo-medium-invalid.yaml
  schema/tests/data/project/negative/logo-medium-null.yaml
  schema/tests/data/project/negative/logo-small-empty.yaml
  schema/tests/data/project/negative/logo-small-invalid.yaml
  schema/tests/data/project/negative/logo-small-null.yaml
  schema/tests/project_test.py
Labels: schema-tests

update
  frontend/src/components/Footer.tsx
  frontend/src/pages/UserDetails.tsx
Labels: frontend

Update project_test.py
  schema/tests/project_test.py
Labels: schema-tests

Update chapter_test.py
  schema/tests/chapter_test.py
Labels: schema-tests

Add mailing list attribute to Chapter schema
  schema/chapter.json
  schema/tests/chapter_test.py
  schema/tests/data/chapter/negative/mailing-list-empty.yaml
  schema/tests/data/chapter/negative/mailing-list-invalid.yaml
  schema/tests/data/chapter/negative/mailing-list-null.yaml
Labels: schema-tests

removed owasp foundation login
  backend/apps/github/graphql/queries/repository_contributor.py
Labels: none

Update social_media_test.py
  schema/tests/common/social_media_test.py
Labels: schema-tests

Add mailing list attribute to Chapter schema
  schema/chapter.json
Labels: none

Add mailing list attribute to Chapter schema
  schema/chapter.json
Labels: none

check
  schema/project.json
Labels: none

check
  schema/chapter.json
  schema/project.json
Labels: none

check
  schema/chapter.json
Labels: none

checking schema
  schema/chapter.json
  schema/tests/data/chapter/negative/mailing-list-empty.yaml
  schema/tests/data/chapter/negative/mailing-list-invalid.yaml
  schema/tests/data/chapter/negative/mailing-list-null.yaml
Labels: schema-tests

Bug Fixing
  schema/tests/data/common/community/negative/description-null.yaml
  schema/tests/data/common/community/negative/url-null.yaml
  schema/tests/data/common/community/positive/optional-properties.yaml
  schema/tests/data/common/community/positive/required-properties.yaml
  schema/tests/data/common/person/negative/email-null.yaml
  schema/tests/data/common/person/negative/github-invalid.yaml
  schema/tests/data/common/person/negative/name-empty.yaml
  schema/tests/data/common/person/negative/name-null.yaml
  schema/tests/data/common/social-media/negative/platform-empty.yaml
  schema/tests/data/common/social-media/negative/platform-invalid.yaml
  schema/tests/data/common/social-media/negative/platform-null.yaml
  schema/tests/data/common/social-media/negative/platform-undefined.yaml
  schema/tests/data/common/social-media/negative/url-empty.yaml
  schema/tests/data/common/social-media/negative/url-invalid.yaml
  schema/tests/data/common/social-media/negative/url-null.yaml
  schema/tests/data/common/social-media/negative/url-undefined.yaml
  schema/tests/data/common/social_media/negative/description-empty.yaml
  schema/tests/data/common/social_media/negative/description-null.yaml
  schema/tests/data/common/social_media/positive/optional-properties.yaml
  schema/tests/data/common/social_media/positive/required-properties.yaml
  schema/tests/data/project/negative/demo-null.yaml
  schema/tests/data/project/positive/optional-properties.yaml
Labels: schema-tests

Update email-null.yaml
  schema/tests/data/common/person/negative/email-null.yaml
Labels: schema-tests

Update email-empty.yaml
  schema/tests/data/common/person/negative/email-empty.yaml
Labels: schema-tests

Update person_test.py
  schema/tests/common/person_test.py
Labels: schema-tests

Update email-empty.yaml
  schema/tests/data/common/person/negative/email-empty.yaml
Labels: schema-tests

Run poetry-update
  backend/poetry.lock
Labels: none

Run npm-update
  frontend/package-lock.json
Labels: frontend

Addressed PR feedback: Made SortBy Icon and Asc,Desc Icon aligned
  frontend/src/components/SortBy.tsx
  package-lock.json
Labels: frontend

checking schema
  schema/chapter.json
Labels: none

new migration and removed unnecessary things
  backend/apps/owasp/admin.py
  backend/apps/owasp/graphql/nodes/event.py
  backend/apps/owasp/graphql/queries/event.py
  backend/apps/owasp/management/commands/owasp_update_events.py
  backend/apps/owasp/migrations/0015_event_category_event_category_description_and_more.py
  backend/apps/owasp/migrations/0015_remove_event_created_at_and_more.py
  backend/apps/owasp/models/event.py
  backend/apps/owasp/utils.py
  backend/apps/slack/commands/events.py
  backend/apps/slack/utils.py
Labels: nestbot

check
  schema/chapter.json
Labels: none

Update code
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
Labels: frontend, frontend-tests

Fix capitalization in project details block (#866)
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend, frontend-tests

fixed some cases one remaining
  backend/apps/owasp/models/event.py
  backend/tests/owasp/models/event_test.py
  backend/tests/slack/commands/events_test.py
Labels: nestbot-tests

checl
  schema/chapter.json
Labels: none

.github/labeler.yml:

backend:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - backend/**
          - all-globs-to-all-files:
              - '!backend/apps/slack/**'
              - '!backend/tests/slack/**'

backend-tests:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - backend/tests/**
          - all-globs-to-all-files:
              - '!backend/tests/slack/**'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**

deploy:
  - changed-files:
      - any-glob-to-any-file:
          - .github/ansible/**

docker:
  - changed-files:
      - any-glob-to-any-file:
          - docker-*.yaml
          - '**/Dockerfile.*'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - frontend/**

frontend-tests:
  - changed-files:
      - any-glob-to-any-file:
          - frontend/__tests__/**

makefile:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Makefile'

nestbot:
  - changed-files:
      - any-glob-to-any-file:
          - backend/apps/slack/**

nestbot-tests:
  - changed-files:
      - any-glob-to-any-file:
          - backend/tests/slack/**

nginx:
  - changed-files:
      - any-glob-to-any-file:
          - nginx/**

schema:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - schema/**
          - all-globs-to-all-files:
              - '!schema/tests/**'

schema-tests:
  - changed-files:
      - any-glob-to-any-file:
          - schema/tests/**
