Repository OWASP/Nest, pull requests merged in 2024-12, with the labels that each got.

#270 Added Slackbot over HTTPS endpoints
  backend/.env/template
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/url_verification.py
  backend/apps/slack/management/commands/run_slack_bot.py
  backend/apps/slack/views.py
  backend/settings/base.py
  backend/settings/staging.py
  backend/settings/urls.py
  docker-compose-staging.yaml
  nginx/staging.conf
Labels: backend, docker, nestbot, backend-tests, nginx

#256 Increased Coverage for Slack Management files
  backend/apps/common/utils.py
  backend/tests/common/constants.py
  backend/tests/github/management/__init__.py
  backend/tests/slack/__init__.py
  backend/tests/slack/commands/__init__.py
  backend/tests/slack/commands/contribute_tests.py
  backend/tests/slack/commands/gsoc_tests.py
  backend/tests/slack/commands/projects_tests.py
  backend/tests/slack/events/__init__.py
  backend/tests/slack/events/user_joined_channel/__init__.py
  backend/tests/slack/events/user_joined_channel/contribute_tests.py
  backend/tests/slack/events/user_joined_channel/gsoc_tests.py
  backend/tests/slack/management/commands/__init__.py
  backend/tests/slack/management/commands/run_slack_bot_tests.py
Labels: backend, nestbot, nestbot-tests

#276 Add Markdown support
  frontend/__tests__/src/components/MarkdownWrapper.test.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Card.tsx
  frontend/src/components/MarkdownWrapper.tsx
  frontend/src/components/Modal/Modal.tsx
  frontend/src/index.css
Labels: frontend, frontend-tests

#288 Remove backend/apps/owasp/templates/search files
  backend/apps/common/utils.py
  backend/apps/owasp/templates/search/chapter.html
  backend/apps/owasp/templates/search/committee.html
  backend/apps/owasp/templates/search/issue.html
  backend/apps/owasp/templates/search/project.html
  backend/apps/slack/commands/contribute.py
  backend/apps/slack/common/contribute.py
  backend/apps/slack/events/user_joined_channel/contribute.py
  backend/settings/urls.py
Labels: backend, nestbot

#287 Consolidate gitignore
  .gitignore
  frontend/.gitignore
Labels: frontend

#294 Update Footer links with new URLs
  frontend/index.html
  frontend/public/vite.svg
  frontend/src/components/Footer.tsx
  frontend/src/utils/constants.ts
Labels: frontend

#299 Removed owasp search api endpoints
  backend/apps/owasp/api/search/chapter.py
  backend/apps/owasp/api/search/committee.py
  backend/apps/owasp/api/search/issue.py
  backend/apps/owasp/api/search/project.py
  backend/settings/urls.py
  backend/tests/owasp/api/search/chapter_tests.py
  backend/tests/owasp/api/search/committee_tests.py
  backend/tests/owasp/api/search/issue_tests.py
  backend/tests/owasp/api/search/project_tests.py
Labels: backend, backend-tests

#300 Coverage Increased for owasp/management/commands
  backend/tests/owasp/management/__init__.py
  backend/tests/owasp/management/commands/__init__.py
  backend/tests/owasp/management/commands/owasp_aggregate_projects_tests.py
  backend/tests/owasp/management/commands/owasp_enrich_chapters_tests.py
  backend/tests/owasp/management/commands/owasp_enrich_committees_tests.py
  backend/tests/owasp/management/commands/owasp_enrich_projects_tests.py
  backend/tests/owasp/management/commands/owasp_scrape_chapters_tests.py
  backend/tests/owasp/management/commands/owasp_scrape_committees_tests.py
  backend/tests/owasp/management/commands/owasp_scrape_projects_tests.py
Labels: backend, backend-tests

#219 Implement Responsive header
  frontend/src/components/Header.tsx
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/data.ts
Labels: frontend

#314 Added swc/jest for testing and tsc for type-checking
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, makefile

#313 Update contributing md
  CONTRIBUTING.md
Labels: documentation

#289 Implement Users page backend
  backend/Makefile
  backend/apps/github/index/__init__.py
  backend/apps/github/index/user.py
  backend/apps/github/models/mixins/user.py
  backend/apps/github/models/user.py
Labels: backend, makefile

#320 Implemented simple chapter/committee/project details page
  backend/apps/owasp/index/chapter.py
  backend/apps/owasp/index/committee.py
  backend/apps/owasp/index/project.py
  frontend/__tests__/src/App.test.tsx
  frontend/__tests__/src/data/mockChapterData.ts
  frontend/__tests__/src/data/mockCommitteeData.ts
  frontend/__tests__/src/data/mockProjectData.ts
  frontend/__tests__/src/pages/ChapterDetails.test.tsx
  frontend/__tests__/src/pages/Chapters.test.tsx
  frontend/__tests__/src/pages/CommitteeDetails.test.tsx
  frontend/__tests__/src/pages/Committees.test.tsx
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/__tests__/src/pages/Projects.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Card.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/pages/index.ts
  frontend/src/utils/paramsMapping.ts
Labels: backend, frontend, frontend-tests

#319 Increase Coverage for Github API
  backend/apps/github/api/label.py
  backend/tests/github/api/__init__.py
  backend/tests/github/api/issue_tests.py
  backend/tests/github/api/label_tests.py
  backend/tests/github/api/organization_tests.py
  backend/tests/github/api/release_tests.py
  backend/tests/github/api/repository_tests.py
  backend/tests/github/api/urls_tests.py
  backend/tests/github/api/user_tests.py
Labels: backend, backend-tests
