Repository OWASP/Nest, pull requests merged in 2025-10, with the labels that each got.

#2360 enhancement/Migrate frontend to TypeScript 5.9
  frontend/jest.setup.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend, hacktoberfest-approved

#2361 Extend v0 API
  backend/apps/api/rest/v0/__init__.py
  backend/apps/api/rest/v0/chapter.py
  backend/apps/api/rest/v0/committee.py
  backend/apps/api/rest/v0/event.py
  backend/apps/api/rest/v0/issue.py
  backend/apps/api/rest/v0/label.py
  backend/apps/api/rest/v0/member.py
  backend/apps/api/rest/v0/organization.py
  backend/apps/api/rest/v0/pagination.py
  backend/apps/api/rest/v0/project.py
  backend/apps/api/rest/v0/release.py
  backend/apps/api/rest/v0/repository.py
  backend/apps/api/rest/v0/sponsor.py
  backend/apps/github/migrations/0037_rename_github_rele_created_d51966_idx_release_created_at_desc_idx_and_more.py
  backend/apps/github/models/issue.py
  backend/apps/github/models/release.py
  backend/apps/github/models/repository.py
  backend/apps/owasp/migrations/0054_event_event_end_date_desc_idx.py
  backend/apps/owasp/models/event.py
  backend/settings/base.py
  backend/tests/apps/api/rest/v0/chapter_test.py
  backend/tests/apps/api/rest/v0/committee_test.py
  backend/tests/apps/api/rest/v0/event_test.py
  backend/tests/apps/api/rest/v0/issue_test.py
  backend/tests/apps/api/rest/v0/label_test.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/api/rest/v0/organization_test.py
  backend/tests/apps/api/rest/v0/project_test.py
  backend/tests/apps/api/rest/v0/release_test.py
  backend/tests/apps/api/rest/v0/repository_test.py
  backend/tests/apps/api/rest/v0/sponsor_test.py
Labels: backend, backend-tests

#2363 fix: improve Sort By dropdown styling consistency
  frontend/src/components/SortBy.tsx
Labels: frontend
