Repository OWASP/Nest, pull requests merged in 2025-08, with the labels that each got.

#1890 Added Unit Tests for LoginPageContent
  frontend/__tests__/unit/components/LoginPageContent.test.tsx
Labels: frontend, frontend-tests

#1933 Fix #1917 Added tests for TopContributorsList component
  frontend/__tests__/unit/components/TopContributorsList.test.tsx
Labels: frontend, frontend-tests

#1945 Fix #1810: Added tests for <Footer> component
  frontend/__tests__/unit/components/Footer.test.tsx
Labels: frontend, frontend-tests

#1948 test: add unit tests for UserMenu component (#1918)
  frontend/__tests__/unit/components/UserMenu.test.tsx
Labels: frontend, frontend-tests

#1566 Fix Recent Releases Card: Show Tag as Fallback and Correct Release URLs
  frontend/src/components/RecentReleases.tsx
Labels: frontend

#1947 test: Add unit tests for ProjectsDashboardNavBar component
  frontend/__tests__/unit/components/ProjectsDashboardNavBar.test.tsx
Labels: frontend, frontend-tests

#1881 Header Component
  frontend/__tests__/unit/pages/Header.test.tsx
Labels: frontend, frontend-tests

#1950 Feature/test sortby component 1915
  frontend/__tests__/unit/components/SortBy.test.tsx
Labels: frontend, frontend-tests

#1965 Feature/refactor repositories card
  frontend/__tests__/unit/components/RepositoriesCard.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/types/project.ts
Labels: frontend, frontend-tests

#1956 Improve backend/apps/slack test coverage
  backend/tests/apps/slack/admin/__init__.py
  backend/tests/apps/slack/admin/member_test.py
  backend/tests/apps/slack/commands/command_test.py
  backend/tests/apps/slack/common/handlers/users_test.py
  backend/tests/apps/slack/events/event_test.py
  backend/tests/apps/slack/events/member_joined_channel/__init__.py
  backend/tests/apps/slack/events/member_joined_channel/catch_all_test.py
  backend/tests/apps/slack/events/member_joined_channel/contribute_test.py
  backend/tests/apps/slack/events/member_joined_channel/gsoc_test.py
  backend/tests/apps/slack/management/commands/__init__.py
  backend/tests/apps/slack/management/commands/slack_set_conversation_sync_messages_flags_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
  backend/tests/apps/slack/models/member_test.py
  backend/tests/apps/slack/models/message_test.py
  backend/tests/apps/slack/views_test.py
Labels: backend, backend-tests

#1960 add unit test for ToggleableList component
  frontend/__tests__/unit/components/ToggleableList.test.tsx
Labels: frontend, frontend-tests

#1819 Added TaskLevel Model
  backend/apps/mentorship/admin/__init__.py
  backend/apps/mentorship/admin/task_level.py
  backend/apps/mentorship/migrations/0002_module_labels_task.py
  backend/apps/mentorship/migrations/0003_tasklevel_task_level_and_more.py
  backend/apps/mentorship/models/__init__.py
  backend/apps/mentorship/models/task.py
  backend/apps/mentorship/models/task_level.py
Labels: backend

#1966 Fix #1836: Added test for InfoBlock Component
  frontend/__tests__/unit/components/InfoBlock.test.tsx
Labels: frontend, frontend-tests

#1970 updated the open-api schema to include server urls
  backend/apps/github/api/rest/v1/user.py
  backend/settings/api/v1.py
Labels: backend

#1953 add: structured data for profile pages to improve visibility
  frontend/__tests__/unit/utils/structuredData.test.ts
  frontend/src/app/members/[memberKey]/layout.tsx
  frontend/src/components/StructuredDataScript.tsx
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/profilePageStructuredData.ts
  frontend/src/types/user.ts
  frontend/src/utils/structuredData.ts
Labels: frontend, frontend-tests

#1946 Add test : RecentRelease component unit test
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/RecentRelease.test.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/types/release.ts
Labels: frontend, frontend-tests

#1991 Bump coverage requirements
  backend/pyproject.toml
  frontend/jest.config.ts
Labels: backend, frontend

#1967 Improve dashboard metrics list
  backend/apps/owasp/api/internal/ordering/project_health_metrics.py
  backend/apps/owasp/models/project_health_metrics.py
  backend/tests/apps/owasp/api/internal/ordering/project_health_metrics_test.py
  frontend/src/app/projects/dashboard/metrics/page.tsx
Labels: backend, frontend, backend-tests

#1993 Feature/top contributors has full name filter #1990
  backend/apps/github/api/internal/queries/repository_contributor.py
  backend/apps/github/models/repository_contributor.py
  backend/tests/apps/github/api/internal/queries/repository_contributor_test.py
  backend/tests/apps/github/models/repository_contributor_test.py
  cspell/custom-dict.txt
  frontend/src/app/about/page.tsx
  frontend/src/server/queries/homeQueries.ts
  frontend/src/server/queries/projectQueries.ts
Labels: backend, frontend, backend-tests

#2016 Fix #1859: Added test to Modal Component
  frontend/__tests__/unit/components/Modal.test.tsx
Labels: frontend, frontend-tests

#1994 implemented AnimatedCounter tests
  frontend/__tests__/unit/components/AnimatedCounter.test.tsx
Labels: frontend, frontend-tests

#2003 Fix #1867: Added test for ProjectTypeDashboardCard Components
  frontend/__tests__/unit/components/ProjectTypeDashboardCard.test.tsx
Labels: frontend, frontend-tests

#1823 Implement Dashboard Auth logic
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/migrations/0033_user_is_owasp_staff.py
  backend/apps/github/migrations/0034_merge_20250804_1817.py
  backend/apps/github/models/user.py
  backend/apps/nest/api/internal/mutations/user.py
  backend/apps/nest/api/internal/nodes/user.py
  backend/apps/owasp/api/internal/permissions/__init__.py
  backend/apps/owasp/api/internal/permissions/project_health_metrics.py
  backend/apps/owasp/api/internal/queries/project_health_metrics.py
  backend/apps/owasp/api/internal/views/permissions.py
  backend/apps/owasp/api/internal/views/project_health_metrics.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
  backend/tests/apps/nest/api/internal/nodes/user_test.py
  frontend/.env.example
  frontend/__tests__/e2e/helpers/mockDashboardCookies.ts
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/data/mockProjectsDashboardOverviewData.ts
  frontend/__tests__/unit/pages/ProjectHealthDashboardMetricsDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardOverview.test.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/projects/dashboard/layout.tsx
  frontend/src/app/projects/layout.tsx
  frontend/src/components/DashboardWrapper.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/hooks/useDjangoSession.ts
  frontend/src/server/fetchMetricsPDF.ts
  frontend/src/server/queries/authQueries.ts
  frontend/src/types/auth.ts
  frontend/src/types/user.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1929 added badge model
  backend/apps/owasp/admin/__init__.py
  backend/apps/owasp/admin/badge.py
  backend/apps/owasp/migrations/0045_badge.py
  backend/apps/owasp/models/badge.py
Labels: backend

#2011 Test/recent pull request
  frontend/__tests__/unit/components/RecentPullRequests.test.tsx
Labels: frontend, frontend-tests

#2025 replaced capitalize() function with lodash's upperFirst()
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/TopContributorsList.test.tsx
  frontend/__tests__/unit/utils/capitalize.test.ts
  frontend/src/app/about/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/components/BreadCrumbs.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/TopContributorsList.tsx
  frontend/src/utils/capitalize.ts
Labels: frontend, frontend-tests

#2023 Test: added unit tests for SearchBar Component (#1886)
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/src/components/Search.tsx
Labels: frontend, frontend-tests

#2026 Feature/added milestone component tests
  frontend/__tests__/unit/components/Milestones.test.tsx
Labels: frontend, frontend-tests

#1985 feature command to generate standardized project.owasp.yaml metadata files
  backend/apps/owasp/Makefile
  backend/apps/owasp/management/commands/common/__init__.py
  backend/apps/owasp/management/commands/common/entity_metadata.py
  backend/apps/owasp/management/commands/owasp_create_project_metadata_file.py
  backend/apps/owasp/management/commands/owasp_scrape_projects.py
  backend/apps/owasp/migrations/0045_project_audience.py
  backend/apps/owasp/migrations/0046_merge_0045_badge_0045_project_audience.py
  backend/apps/owasp/models/enums/project.py
  backend/apps/owasp/models/project.py
  backend/apps/owasp/scraper.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/apps/owasp/management/commands/common/__init__.py
  backend/tests/apps/owasp/management/commands/common/entity_metadata_test.py
  backend/tests/apps/owasp/management/commands/owasp_create_project_metadata_file_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_projects_test.py
  backend/tests/apps/owasp/models/enums/__init__.py
  backend/tests/apps/owasp/models/enums/project_test.py
  cspell/custom-dict.txt
  docs/poetry.lock
Labels: backend, backend-tests, makefile

#2041 Improve SnapshotSitemap implementation and add unit tests
  backend/apps/sitemap/urls.py
  backend/apps/sitemap/views/__init__.py
  backend/apps/sitemap/views/base.py
  backend/apps/sitemap/views/snapshot.py
  backend/apps/sitemap/views/static.py
  backend/tests/apps/sitemap/urls_test.py
  backend/tests/apps/sitemap/views/snapshot_test.py
  backend/tests/apps/sitemap/views/static_test.py
Labels: backend, backend-tests

#2045 Add id field to graphql entities
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/nodes/milestone.py
  backend/apps/github/api/internal/nodes/organization.py
  backend/apps/github/api/internal/nodes/pull_request.py
  backend/apps/github/api/internal/nodes/release.py
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/nest/api/internal/nodes/api_key.py
  backend/apps/nest/api/internal/nodes/user.py
  backend/apps/owasp/api/internal/nodes/common.py
  backend/apps/owasp/api/internal/nodes/event.py
  backend/apps/owasp/api/internal/nodes/post.py
  backend/apps/owasp/api/internal/nodes/sponsor.py
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  backend/tests/apps/github/api/internal/nodes/milestone_test.py
  backend/tests/apps/github/api/internal/nodes/organization_test.py
  backend/tests/apps/github/api/internal/nodes/release_test.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
  backend/tests/apps/nest/api/internal/nodes/api_keys_test.py
  backend/tests/apps/nest/api/internal/nodes/user_test.py
Labels: backend, backend-tests

#2042 test- inmproved test coverage of github internal nodes more than 80% …
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  backend/tests/apps/github/api/internal/nodes/milestone_test.py
  backend/tests/apps/github/api/internal/nodes/organization_test.py
  backend/tests/apps/github/api/internal/nodes/pull_request_test.py
  backend/tests/apps/github/api/internal/nodes/release_test.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
Labels: backend, backend-tests

#2050 Bug/fix scroll on Project Health Score click
  frontend/__tests__/unit/components/AnchorTitle.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/MetricsScoreCircle.test.tsx
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
  frontend/src/components/AnchorTitle.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/MetricsScoreCircle.tsx
  frontend/src/utils/scrollToAnchor.ts
Labels: frontend, frontend-tests

#2068 Add comprehensive tests for LineChart component
  frontend/__tests__/unit/components/LineChart.test.tsx
Labels: frontend, frontend-tests

#2018 test: add unit tests for GeneralCompliantComponent
  frontend/__tests__/unit/components/GeneralCompliantComponent.test.tsx
Labels: frontend, frontend-tests

#2069 Fix #1912: Added test for SecondaryCard component
  frontend/__tests__/unit/components/SecondaryCard.test.tsx
Labels: frontend, frontend-tests

#2072 Added Light Theme Support for Contribution HeatMap
  frontend/public/img/heatmap-background-dark.png
  frontend/public/img/heatmap-background-light.png
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/utils/helpers/githubHeatmap.ts
Labels: frontend, cosplay-code

#2048 feat: add comprehensive unit tests for DisplayIcon component
  cspell/custom-dict.txt
  frontend/__tests__/unit/components/DisplayIcon.test.tsx
Labels: frontend, frontend-tests

#2052 Project Dasbored Drop Down Test case has been made
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
Labels: frontend, frontend-tests

#2080 test: add comprehensive unit tests for SkeletonBase component
  frontend/__tests__/unit/components/SkeletonBase.test.tsx
Labels: frontend, frontend-tests

#2063 removed leader and suggested leader, introduced entity_member model
  backend/apps/github/Makefile
  backend/apps/github/management/commands/github_match_users.py
  backend/apps/owasp/Makefile
  backend/apps/owasp/admin/__init__.py
  backend/apps/owasp/admin/chapter.py
  backend/apps/owasp/admin/committee.py
  backend/apps/owasp/admin/entity_member.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/project.py
  backend/apps/owasp/management/commands/owasp_update_leaders.py
  backend/apps/owasp/migrations/0048_entitymember.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/committee.py
  backend/apps/owasp/models/common.py
  backend/apps/owasp/models/entity_member.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/github/management/commands/github_match_users_test.py
  backend/tests/apps/owasp/management/commands/owasp_update_leaders_test.py
Labels: backend, backend-tests, makefile

#2087 Fix #1882: Added test for RecentIssues Component
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/src/components/RecentIssues.tsx
Labels: frontend, frontend-tests

#2076 Fix: Bold text on Community dropdown
  frontend/__tests__/unit/components/NavDropDown.test.tsx
  frontend/src/components/NavDropDown.tsx
Labels: frontend, frontend-tests

#2081 Add tests for <DonutBarChart> component
  frontend/__tests__/unit/components/DonutBarChart.test.tsx
Labels: frontend, frontend-tests

#2125 fixes #2124: Refactored environment variable handling from credentials.ts to env.server.ts and env.client.ts
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/__tests__/unit/pages/Login.test.tsx
  frontend/next.config.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/projects/dashboard/layout.tsx
  frontend/src/app/settings/api-keys/layout.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/Footer.tsx
  frontend/src/instrumentation-client.ts
  frontend/src/sentry.server.config.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/server/fetchCsrfToken.ts
  frontend/src/server/fetchMetricsPDF.ts
  frontend/src/utils/env.client.ts
  frontend/src/utils/env.server.ts
  frontend/src/utils/helpers/apolloClient.ts
Labels: frontend, frontend-tests, cosplay-code

#2153 Upgrade TailwindCSS to v.4.1.12
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/__tests__/unit/components/LoginPageContent.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/components/NavButton.test.tsx
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/docker/Dockerfile
  frontend/docker/Dockerfile.e2e.test
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/src/app/about/page.tsx
  frontend/src/app/global-error.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/app/settings/api-keys/page.tsx
  frontend/src/app/snapshots/[id]/page.tsx
  frontend/src/app/snapshots/page.tsx
  frontend/src/components/ActionButton.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/GeneralCompliantComponent.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/LoginPageContent.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/components/MetricsCard.tsx
  frontend/src/components/MetricsScoreCircle.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/NavButton.tsx
  frontend/src/components/NavDropDown.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/ProgramForm.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/components/ScrollToTop.tsx
  frontend/src/components/Search.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/components/SnapshotCard.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/components/TopContributorsList.tsx
  frontend/src/components/TruncatedText.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/components/skeletons/ApiKeySkelton.tsx
  frontend/src/components/skeletons/Card.tsx
  frontend/src/components/skeletons/UserCard.tsx
  frontend/tailwind.config.mjs
Labels: frontend, docker, frontend-tests

#2089 Integrate slack bot with google OAuth
  backend/.env.example
  backend/apps/common/model_fields.py
  backend/apps/nest/auth/__init__.py
  backend/apps/nest/auth/clients/__init__.py
  backend/apps/nest/auth/clients/google.py
  backend/apps/nest/clients/__init__.py
  backend/apps/nest/clients/kms.py
  backend/apps/nest/migrations/0004_googleaccountauthorization.py
  backend/apps/nest/migrations/0005_rename_scopes_googleaccountauthorization_scope_and_more.py
  backend/apps/nest/migrations/0006_merge_20250830_0323.py
  backend/apps/nest/migrations/0007_alter_googleaccountauthorization_options_and_more.py
  backend/apps/nest/models/__init__.py
  backend/apps/nest/models/google_account_authorization.py
  backend/apps/nest/views.py
  backend/apps/slack/MANIFEST.yaml
  backend/apps/slack/actions/home.py
  backend/apps/slack/blocks.py
  backend/apps/slack/commands/__init__.py
  backend/apps/slack/commands/google_sign_in.py
  backend/apps/slack/common/handlers/google_sign_in.py
  backend/apps/slack/constants.py
  backend/apps/slack/templates/events/app_home_opened.jinja
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/urls.py
  backend/tests/apps/common/model_fileds_test.py
  backend/tests/apps/nest/auth/__init__.py
  backend/tests/apps/nest/auth/clients/__init__.py
  backend/tests/apps/nest/auth/clients/google_test.py
  backend/tests/apps/nest/clients/__init__.py
  backend/tests/apps/nest/clients/kms_test.py
  backend/tests/apps/nest/models/google_account_authorization_test.py
  backend/tests/apps/slack/common/handlers/google_sign_in_test.py
  cspell/custom-dict.txt
Labels: nestbot, backend-tests
