Repository OWASP/Nest, pull requests merged in 2025-05, with the labels that each got.

#1371 Added django-redis as default cache
  .github/ansible/production/nest.yaml
  .github/ansible/staging/nest.yaml
  .github/workflows/run-ci-cd.yaml
  backend/.env.example
  backend/docker/Dockerfile.local
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/apps/core/api/algolia_test.py
  cspell/custom-dict.txt
  docker/docker-compose-local.yaml
  docker/docker-compose-production.yaml
  docker/docker-compose-staging.yaml
Labels: backend, docker, backend-tests, deploy, ci

#1452 Add cache mounts to docker files
  backend/docker/Dockerfile
  backend/docker/Dockerfile.local
  backend/docker/Dockerfile.test
  cspell/Dockerfile
  cspell/custom-dict.txt
  docs/docker/Dockerfile.local
  frontend/docker/Dockerfile
  frontend/docker/Dockerfile.e2e.test
  frontend/docker/Dockerfile.local
  frontend/docker/Dockerfile.unit.test
Labels: backend, frontend, docker

#913 implemented matching model and Added slack models
  backend/Makefile
  backend/apps/github/admin.py
  backend/apps/github/management/commands/github_match_users.py
  backend/apps/github/models/common.py
  backend/apps/github/models/user.py
  backend/apps/owasp/admin.py
  backend/apps/owasp/migrations/0031_chapter_leaders_chapter_suggested_leaders_and_more.py
  backend/apps/owasp/migrations/0033_merge_20250510_0037.py
  backend/apps/owasp/models/common.py
  backend/apps/slack/admin.py
  backend/apps/slack/management/commands/slack_sync_data.py
  backend/apps/slack/migrations/0004_workspace_member_channel.py
  backend/apps/slack/migrations/0005_remove_workspace_bot_token.py
  backend/apps/slack/migrations/0006_member_is_bot_alter_member_user.py
  backend/apps/slack/models/__init__.py
  backend/apps/slack/models/channel.py
  backend/apps/slack/models/member.py
  backend/apps/slack/models/workspace.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/apps/github/models/issue_test.py
  backend/tests/apps/github/models/user_test.py
Labels: nestbot, backend-tests, makefile

#1453 fixed responsiveness issue in chapters page
  frontend/src/components/Card.tsx
Labels: frontend

#1032 Added Slack conversation list sync
  backend/apps/owasp/migrations/0034_alter_chapter_leaders_and_more.py
  backend/apps/slack/admin.py
  backend/apps/slack/management/commands/slack_sync_data.py
  backend/apps/slack/migrations/0007_channel_created_at_channel_is_archived_and_more.py
  backend/apps/slack/migrations/0008_channel_is_channel_channel_is_group_channel_is_im_and_more.py
  backend/apps/slack/migrations/0009_rename_channel_conversation_and_more.py
  backend/apps/slack/models/__init__.py
  backend/apps/slack/models/channel.py
  backend/apps/slack/models/conversation.py
  backend/apps/slack/models/member.py
  backend/tests/slack/commands/management/__init__.py
  backend/tests/slack/models/__init__.py
  backend/tests/slack/models/conversation_test.py
Labels: nestbot, nestbot-tests

#1383 Added few changes to repository_contributor file
  backend/apps/github/graphql/queries/repository_contributor.py
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/repository_contributor.py
  backend/apps/owasp/models/common.py
  backend/apps/owasp/models/mixins/chapter.py
  backend/apps/owasp/models/mixins/committee.py
  backend/apps/owasp/models/mixins/project.py
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/unit/data/mockChapterDetailsData.ts
  frontend/__tests__/unit/data/mockCommitteeDetailsData.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/data/mockRepositoryData.ts
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/app/snapshots/[id]/page.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/committeeQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/chapter.ts
Labels: backend, frontend, frontend-tests

#1437 Events migration to jinja template
  backend/apps/common/constants.py
  backend/apps/slack/common/handlers/contribute.py
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/app_home_opened.py
  backend/apps/slack/events/event.py
  backend/apps/slack/events/member_joined_channel/contribute.py
  backend/apps/slack/events/member_joined_channel/gsoc.py
  backend/apps/slack/events/team_join.py
  backend/apps/slack/events/url_verification.py
  backend/apps/slack/templates/events/app_home_opened.jinja
  backend/apps/slack/templates/events/contribute.jinja
  backend/apps/slack/templates/events/gsoc.jinja
  backend/apps/slack/templates/events/team_join.jinja
  backend/tests/apps/slack/events/app_home_opened_test.py
  backend/tests/apps/slack/events/team_join_test.py
  backend/tests/apps/slack/events/url_verification_test.py
  backend/tests/apps/slack/events/user_joined_channel/contribute_test.py
  backend/tests/apps/slack/events/user_joined_channel/gsoc_test.py
Labels: nestbot, backend-tests

#1494 Fix backend trivy scan
  .github/workflows/run-ci-cd.yaml
Labels: ci

#1455 Fix top contributors
  backend/apps/github/graphql/queries/repository_contributor.py
  backend/apps/github/models/repository_contributor.py
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/data/mockAboutData.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/server/queries/projectQueries.ts
Labels: backend, frontend, frontend-tests

#1487 Fix-404-bug
  backend/apps/owasp/graphql/nodes/project.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/graphql/nodes/project_test.py
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/server/queries/projectQueries.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1496 initialize Google tab manager
  .github/workflows/run-ci-cd.yaml
  frontend/.env.example
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/layout.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/Search.tsx
  frontend/src/utils/credentials.ts
Labels: frontend, ci

#1508 Add slack total members count
  backend/apps/common/utils.py
  backend/apps/owasp/graphql/nodes/stats.py
  backend/apps/owasp/graphql/queries/stats.py
  backend/apps/slack/management/commands/slack_sync_data.py
  backend/apps/slack/migrations/0010_workspace_total_members_count.py
  backend/apps/slack/models/workspace.py
  backend/tests/apps/common/utils_test.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/app/page.tsx
  frontend/src/server/queries/homeQueries.ts
  frontend/src/types/home.ts
Labels: frontend, nestbot, backend-tests, frontend-tests

#1510 Refactor Slack app commands/events
  backend/apps/common/utils.py
  backend/apps/slack/commands/command.py
  backend/apps/slack/common/gsoc.py
  backend/apps/slack/events/app_home_opened.py
  backend/apps/slack/events/event.py
  backend/apps/slack/events/member_joined_channel/contribute.py
  backend/apps/slack/events/member_joined_channel/gsoc.py
  backend/apps/slack/events/team_join.py
  backend/apps/slack/templates/events/member_joined_channel/contribute.jinja
  backend/apps/slack/templates/events/member_joined_channel/gsoc.jinja
  backend/tests/apps/common/utils_test.py
  cspell/custom-dict.txt
Labels: nestbot, backend-tests

#1514 Improve roadmap visualization
  backend/apps/github/graphql/nodes/milestone.py
  backend/tests/apps/github/graphql/nodes/milestone_test.py
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/data/mockAboutData.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/project.ts
  frontend/src/utils/aboutData.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1509 Initialised and setup for the Strawberry
  .pre-commit-config.yaml
  backend/apps/common/graphql/__init__.py
  backend/apps/common/graphql/nodes.py
  backend/apps/common/graphql/queries.py
  backend/apps/github/graphql/nodes/issue.py
  backend/apps/github/graphql/nodes/milestone.py
  backend/apps/github/graphql/nodes/organization.py
  backend/apps/github/graphql/nodes/pull_request.py
  backend/apps/github/graphql/nodes/release.py
  backend/apps/github/graphql/nodes/repository.py
  backend/apps/github/graphql/nodes/repository_contributor.py
  backend/apps/github/graphql/nodes/user.py
  backend/apps/github/graphql/queries/issue.py
  backend/apps/github/graphql/queries/milestone.py
  backend/apps/github/graphql/queries/organization.py
  backend/apps/github/graphql/queries/pull_request.py
  backend/apps/github/graphql/queries/release.py
  backend/apps/github/graphql/queries/repository.py
  backend/apps/github/graphql/queries/repository_contributor.py
  backend/apps/github/graphql/queries/user.py
  backend/apps/owasp/graphql/nodes/chapter.py
  backend/apps/owasp/graphql/nodes/committee.py
  backend/apps/owasp/graphql/nodes/common.py
  backend/apps/owasp/graphql/nodes/event.py
  backend/apps/owasp/graphql/nodes/post.py
  backend/apps/owasp/graphql/nodes/project.py
  backend/apps/owasp/graphql/nodes/snapshot.py
  backend/apps/owasp/graphql/nodes/sponsor.py
  backend/apps/owasp/graphql/nodes/stats.py
  backend/apps/owasp/graphql/queries/chapter.py
  backend/apps/owasp/graphql/queries/committee.py
  backend/apps/owasp/graphql/queries/event.py
  backend/apps/owasp/graphql/queries/post.py
  backend/apps/owasp/graphql/queries/project.py
  backend/apps/owasp/graphql/queries/snapshot.py
  backend/apps/owasp/graphql/queries/sponsor.py
  backend/apps/owasp/graphql/queries/stats.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/graphql.py
  backend/settings/urls.py
  backend/tests/apps/common/graphql/__init__.py
  backend/tests/apps/common/graphql/nodes_test.py
  backend/tests/apps/common/graphql/queries_test.py
  backend/tests/apps/github/graphql/nodes/issue_test.py
  backend/tests/apps/github/graphql/nodes/milestone_test.py
  backend/tests/apps/github/graphql/nodes/organization_test.py
  backend/tests/apps/github/graphql/nodes/release_test.py
  backend/tests/apps/github/graphql/nodes/repository_test.py
  backend/tests/apps/github/graphql/nodes/user_test.py
  backend/tests/apps/github/graphql/queries/issue_test.py
  backend/tests/apps/github/graphql/queries/milestone_test.py
  backend/tests/apps/github/graphql/queries/repository_test.py
  backend/tests/apps/github/graphql/queries/user_test.py
  backend/tests/apps/owasp/graphql/nodes/project_test.py
  backend/tests/apps/owasp/graphql/queries/chapter_test.py
  backend/tests/apps/owasp/graphql/queries/committee_test.py
  backend/tests/apps/owasp/graphql/queries/project_test.py
Labels: backend, backend-tests

#1516 Added organization to return None if it not exist
  backend/apps/github/graphql/nodes/repository.py
Labels: backend

#1495 Improve docker cache mounts
  backend/docker/Dockerfile
  backend/docker/Dockerfile.local
  backend/docker/Dockerfile.test
  cspell/Dockerfile
  docs/docker/Dockerfile.local
  frontend/docker/Dockerfile
  frontend/docker/Dockerfile.e2e.test
  frontend/docker/Dockerfile.local
  frontend/docker/Dockerfile.unit.test
  schema/docker/Dockerfile.test
Labels: backend, frontend, docker, schema

#1523 Improve APK cache handling in docker
  backend/docker/Dockerfile.local
  frontend/docker/Dockerfile.local
Labels: backend, frontend, docker

#1527 Fix flaky tests in CI/CD
  .github/workflows/run-ci-cd.yaml
Labels: ci
