Repository OWASP/Nest, pull requests merged in 2025-01, with the labels that each got.

#326 fix the footer layout
  frontend/src/components/Footer.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend

#315 Add Google Tag Manager integration for advanced analytics
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Search.tsx
  frontend/src/main.tsx
  frontend/src/utils/credentials.ts
Labels: frontend

#324 Added rule to enforce absolute import via eslint
  frontend/eslint.config.js
  frontend/src/components/Footer.tsx
Labels: frontend

#332 Clean up frontend configs
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/package.json
  frontend/postcss.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
Labels: frontend

#323 Refactor .env for backend and frontend
  .github/workflows/ci-cd.yaml
  .gitignore
  CONTRIBUTING.md
  backend/.env.example
  backend/Dockerfile.test
  backend/apps/common/index.py
  backend/apps/common/utils.py
  backend/apps/owasp/api/search/chapter.py
  backend/apps/slack/management/commands/run_slack_bot.py
  backend/settings/base.py
  backend/settings/local.py
  backend/tests/owasp/api/search/chapter_tests.py
  backend/tests/slack/management/commands/__init__.py
  backend/tests/slack/management/commands/run_slack_bot_tests.py
  docker-compose.yaml
  frontend/.env.example
  frontend/src/lib/algoliaClient.ts
  frontend/src/lib/api.ts
  frontend/src/sentry.config.ts
  frontend/src/utils/credentials.ts
  frontend/src/utils/logger.ts
  frontend/vite.config.ts
Labels: documentation, frontend, docker, nestbot, nestbot-tests, ci

#337 optimize backend/makefile
  .gitignore
  backend/Makefile
  backend/apps/common/management/commands/load_data.py
Labels: backend, makefile

#338 Increased coverage for app/common
  backend/apps/common/constants.py
  backend/apps/common/geocoding.py
  backend/apps/common/management/commands/clear_cache.py
  backend/tests/common/geocoding_tests.py
  backend/tests/common/index_tests.py
  backend/tests/common/management/__init__.py
  backend/tests/common/management/commands/__init__.py
  backend/tests/common/management/commands/add_project_custom_tags_tests.py
  backend/tests/common/management/commands/algolia_update_synonyms_tests.py
  backend/tests/common/management/commands/load_data_tests.py
  backend/tests/common/management/commands/purge_data_tests.py
  backend/tests/common/models_tests.py
  backend/tests/common/open_ai_tests.py
  backend/tests/common/utils_tests.py
Labels: backend, backend-tests

#344 Revert header changes to previous state
  frontend/src/components/Header.tsx
Labels: frontend

#350 Update algolia search client to v4
  backend/apps/common/index.py
  backend/apps/github/models/mixins/issue.py
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/owasp/models/mixins/chapter.py
  backend/apps/owasp/models/mixins/committee.py
  backend/apps/owasp/models/mixins/project.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/common/index_tests.py
  backend/tests/slack/commands/contribute_tests.py
  backend/tests/slack/commands/projects_tests.py
Labels: backend, nestbot-tests

#356 Add release and repository index
  backend/apps/github/index/__init__.py
  backend/apps/github/index/release.py
  backend/apps/github/index/repository.py
  backend/apps/github/models/mixins/__init__.py
  backend/apps/github/models/mixins/issue.py
  backend/apps/github/models/mixins/release.py
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/release.py
  backend/apps/github/models/repository.py
  backend/apps/owasp/index/chapter.py
  backend/apps/owasp/index/committee.py
  backend/apps/owasp/models/project.py
Labels: backend

#340 Added Nestbot home page
  backend/apps/common/index.py
  backend/apps/common/utils.py
  backend/apps/slack/__init__.py
  backend/apps/slack/actions/__init__.py
  backend/apps/slack/actions/home.py
  backend/apps/slack/blocks.py
  backend/apps/slack/constants.py
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/app_home_opened.py
  backend/pyproject.toml
  backend/tests/common/index_tests.py
Labels: nestbot, backend-tests

#322 added gsoc year command
  backend/apps/owasp/models/common.py
  backend/apps/owasp/models/project.py
  backend/apps/slack/commands/gsoc.py
  backend/tests/slack/commands/gsoc_tests.py
Labels: nestbot, makefile, nestbot-tests

#368 Refactor `Prompt`
  backend/apps/core/models/prompt.py
  backend/apps/github/models/issue.py
  backend/apps/owasp/management/commands/owasp_enrich_chapters.py
  backend/apps/owasp/management/commands/owasp_enrich_committees.py
  backend/apps/owasp/management/commands/owasp_enrich_projects.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/committee.py
  backend/apps/owasp/models/common.py
  backend/apps/owasp/models/project.py
Labels: backend

#349 Implement User Details Page
  backend/apps/github/api/user.py
  frontend/__tests__/src/App.test.tsx
  frontend/__tests__/src/pages/UserDetails.test.tsx
  frontend/src/App.tsx
  frontend/src/components/ContributorAvatar.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
  frontend/src/pages/UserDetails.tsx
  frontend/src/pages/index.ts
  frontend/src/utils/paramsMapping.ts
Labels: backend, frontend, frontend-tests

#292 implement real time suggestion
  .github/workflows/ci-cd.yaml
  CONTRIBUTING.md
  backend/.env.example
  backend/Makefile
  backend/apps/common/management/commands/algolia_update_suggestions.py
  backend/apps/github/index/issue.py
  backend/apps/github/index/user.py
  backend/apps/owasp/index/chapter.py
  backend/apps/owasp/index/committee.py
  backend/apps/owasp/index/project.py
  backend/settings/base.py
  backend/tests/common/management/commands/algolia_update_synonyms_tests.py
  frontend/Makefile
  frontend/__tests__/src/pages/Chapters.test.tsx
  frontend/__tests__/src/pages/Committees.test.tsx
  frontend/__tests__/src/pages/Projects.test.tsx
  frontend/__tests__/src/pages/Users.test.tsx
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AutoSuggestion.tsx
  frontend/src/components/Autosuggestion.css
  frontend/src/components/Search.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/Contribute.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/pages/Users.tsx
Labels: documentation, backend, frontend, backend-tests, frontend-tests, makefile, ci

#275 updated error handling sytem with unified way to show user error messeges
  frontend/__tests__/src/App.test.tsx
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/ErrorWrapper.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/Toaster.tsx
  frontend/src/index.css
  frontend/src/lib/ErrorWrapper.tsx
  frontend/src/lib/algoliaClient.ts
  frontend/src/lib/api.ts
  frontend/src/lib/hooks/useSearchPage.ts
  frontend/src/lib/hooks/useToast.ts
  frontend/src/main.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/tailwind.config.js
Labels: frontend, frontend-tests, makefile

#383 fix test case and added spyon console error
  frontend/__tests__/src/App.test.tsx
  frontend/jest.setup.ts
Labels: frontend, frontend-tests

#390 gsoc participated projects data from 2012-19
  backend/data/project-custom-tags/gsoc-2012.json
  backend/data/project-custom-tags/gsoc-2013.json
  backend/data/project-custom-tags/gsoc-2014.json
  backend/data/project-custom-tags/gsoc-2015.json
  backend/data/project-custom-tags/gsoc-2016.json
  backend/data/project-custom-tags/gsoc-2017.json
  backend/data/project-custom-tags/gsoc-2018.json
  backend/data/project-custom-tags/gsoc-2019.json
Labels: backend

#394 fixed: users join date issue
  frontend/__tests__/src/pages/UserDetails.test.tsx
  frontend/src/pages/UserDetails.tsx
Labels: frontend, frontend-tests

#343 Fixed show more link breaks card labels
  frontend/src/components/Card.tsx
Labels: frontend

#396 exact-match-users-detail-page #385
  frontend/src/pages/UserDetails.tsx
Labels: frontend

#379 Fixes #354: Blank tabs problem has been solved
  frontend/src/components/Card.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend

#411 fixed: button-bgcolor-on-hover
  frontend/src/components/ActionButton.tsx
Labels: frontend

#412 added /committees NestBot command
  backend/apps/slack/commands/__init__.py
  backend/apps/slack/commands/committees.py
  backend/apps/slack/commands/owasp.py
  backend/tests/slack/commands/committees_tests.py
  backend/tests/slack/commands/owasp_tests.py
Labels: nestbot, nestbot-tests

#392 Fixed wrong url for slack bot `/contribute --start` command
  backend/apps/slack/commands/contribute.py
  backend/apps/slack/common/contribute.py
  backend/apps/slack/events/user_joined_channel/contribute.py
  backend/tests/slack/common/__init__.py
  backend/tests/slack/common/contribute_tests.py
Labels: nestbot, nestbot-tests

#410 added /chapters NestBot command
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/mixins/chapter.py
  backend/apps/slack/commands/__init__.py
  backend/apps/slack/commands/chapters.py
  backend/apps/slack/commands/owasp.py
  backend/tests/slack/commands/chapters_tests.py
  backend/tests/slack/commands/owasp_tests.py
Labels: frontend, nestbot, nestbot-tests

#423 Simplify index synonyms syntax to use txt files
  backend/apps/common/index.py
  backend/apps/github/index/issue.py
  backend/apps/github/index/synonyms/issues.json
  backend/apps/github/index/synonyms/issues.txt
  backend/apps/owasp/index/synonyms/projects.json
  backend/apps/owasp/index/synonyms/projects.txt
  backend/tests/common/index_tests.py
Labels: backend, backend-tests

#436 Increase `common/algolia_update_synonyms` command test coverage
  backend/tests/common/management/commands/algolia_update_synonyms_tests.py
Labels: backend, backend-tests

#433 Update the footer link
  frontend/src/utils/constants.ts
Labels: frontend

#432 pop-up effect on userCard hover
  frontend/src/components/UserCard.tsx
Labels: frontend

#426 Adding effects to icon on hover
  frontend/src/components/DisplayIcon.tsx
  frontend/src/index.css
Labels: frontend

#438 Extend issue/project/release/repository/user index
  backend/apps/common/management/commands/algolia_update_suggestions.py
  backend/apps/github/index/repository.py
  backend/apps/github/index/user.py
  backend/apps/github/migrations/0015_alter_release_author.py
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/github/models/release.py
  backend/apps/github/models/repository.py
  backend/apps/github/models/repository_contributor.py
  backend/apps/github/models/user.py
  backend/apps/owasp/index/project.py
  backend/apps/owasp/models/mixins/project.py
  backend/apps/owasp/models/project.py
Labels: backend

#441 increase common `algolia_update_suggestions` command test coverage
  backend/tests/common/management/commands/algolia_update_suggestions_tests.py
Labels: backend, backend-tests

#451 added sponsor button
  frontend/src/components/Header.tsx
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/SponsorButton.tsx
Labels: frontend

#352 Update the Staging For avalibility of django-admin
  nginx/production.conf
  nginx/staging.conf
Labels: frontend, nginx

#465 Extend Sentry config
  .github/workflows/ci-cd.yaml
  backend/.env.example
  backend/settings/base.py
  backend/settings/staging.py
  frontend/.env.example
  frontend/src/sentry.config.ts
  frontend/src/utils/credentials.ts
Labels: backend, frontend, ci

#456 coverage owasp/scraper 21->91
  backend/tests/owasp/scraper_tests.py
Labels: backend, backend-tests

#468 lucide react removed
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Footer.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/ui/Toast.tsx
Labels: frontend

#472 Husky cleanUp
  frontend/.husky/pre-commit
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#453 Sliced local index limit to 1000
  backend/apps/common/index.py
  backend/apps/github/index/issue.py
  backend/apps/github/index/release.py
  backend/apps/github/index/repository.py
  backend/apps/github/index/user.py
  backend/apps/owasp/index/chapter.py
  backend/apps/owasp/index/committee.py
  backend/apps/owasp/index/project.py
Labels: backend

#469 Update header/footer
  frontend/src/utils/constants.ts
Labels: frontend

#481 update : sentry replay text unmasked
  frontend/src/sentry.config.ts
Labels: frontend

#488 algolia-index-for-user-page
  backend/apps/github/index/user.py
Labels: backend

#494 Make staging release version more informative
  .github/workflows/ci-cd.yaml
Labels: ci

#498 Add cspell for spell checking
  .github/workflows/ci-cd.yaml
  Makefile
  backend/apps/github/index/release.py
  backend/apps/slack/commands/gsoc.py
  backend/apps/slack/common/contribute.py
  backend/apps/slack/common/gsoc.py
  backend/apps/slack/constants.py
  backend/apps/slack/events/member_joined_channel/contribute.py
  backend/apps/slack/events/member_joined_channel/gsoc.py
  backend/apps/slack/events/team_join.py
  cspell/Dockerfile
  cspell/Makefile
  cspell/cspell.json
  cspell/custom-dict.txt
  cspell/package-lock.json
  cspell/package.json
  frontend/__tests__/src/data/mockChapterData.ts
Labels: frontend, nestbot, frontend-tests, makefile, ci

#454 Add OpenStreetMap
  frontend/__tests__/src/pages/Chapters.test.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/fetchAlgoliaData.ts
  frontend/src/components/ChapterMap.tsx
  frontend/src/index.css
  frontend/src/pages/Chapters.tsx
  frontend/src/types/algolia.ts
  frontend/src/types/chapter.ts
  frontend/src/utils/paramsMapping.ts
Labels: frontend, frontend-tests

#510 Fix: Fallback to username in ContributorAvatar component
  frontend/src/components/ContributorAvatar.tsx
Labels: frontend

#519 fixed path osm
  frontend/public/img/layers-2x.png
  frontend/public/img/layers.png
  frontend/public/img/marker-icon-2x.png
  frontend/public/img/marker-icon.png
  frontend/public/img/marker-shadow.png
  frontend/src/components/ChapterMap.tsx
Labels: frontend

#521 fixed-overlapping-issue
  frontend/src/components/ChapterMap.tsx
Labels: frontend

#517 Use add instead of max
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  frontend/src/utils/data.ts
Labels: backend, frontend

#522 Revert "fixed-overlapping-issue"
  frontend/src/components/ChapterMap.tsx
Labels: frontend

#328 Improve Test Coverage for github/models
  backend/apps/github/models/repository_contributor.py
  backend/tests/github/models/__init__.py
  backend/tests/github/models/issue_tests.py
  backend/tests/github/models/label_tests.py
  backend/tests/github/models/mixins/__init__.py
  backend/tests/github/models/mixins/issue_tests.py
  backend/tests/github/models/mixins/organization_tests.py
  backend/tests/github/models/mixins/release_tests.py
  backend/tests/github/models/mixins/repository_tests.py
  backend/tests/github/models/mixins/user_tests.py
  backend/tests/github/models/organization_tests.py
  backend/tests/github/models/release_tests.py
  backend/tests/github/models/repository_contributor_tests.py
  backend/tests/github/models/repository_tests.py
  backend/tests/github/models/user_tests.py
  backend/tests/github/utils_tests.py
Labels: backend, backend-tests

#525 Fix/hamburger overlapped by map
  frontend/src/components/ChapterMap.tsx
Labels: frontend

#534 refactored-_idx-attribute
  frontend/__tests__/src/data/mockChapterData.ts
  frontend/__tests__/src/data/mockCommitteeData.ts
  frontend/__tests__/src/data/mockContributeData.ts
  frontend/__tests__/src/data/mockProjectData.ts
  frontend/__tests__/src/data/mockUserData.ts
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/src/api/fetchAlgoliaData.ts
  frontend/src/api/utility.ts
  frontend/src/components/ChapterMap.tsx
  frontend/src/components/DisplayIcon.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/Contribute.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/pages/Users.tsx
  frontend/src/types/chapter.ts
  frontend/src/types/committee.ts
  frontend/src/types/issue.ts
  frontend/src/types/project.ts
  frontend/src/types/user.ts
  frontend/src/utils/data.ts
  frontend/src/utils/utility.ts
Labels: frontend, frontend-tests

#470 Updated ProjectDetails Component
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/src/index.css
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/utils/paramsMapping.ts
Labels: frontend, frontend-tests

#496 bottm card layout fixed
  frontend/__tests__/src/pages/ChapterDetails.test.tsx
  frontend/__tests__/src/pages/Chapters.test.tsx
  frontend/__tests__/src/pages/CommitteeDetails.test.tsx
  frontend/__tests__/src/pages/Committees.test.tsx
  frontend/__tests__/src/pages/Projects.test.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/TopicBadge.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/Contribute.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/types/card.ts
Labels: frontend, frontend-tests

#479 Refactor NestBot app home section and commands code
  backend/apps/slack/actions/home.py
  backend/apps/slack/commands/chapters.py
  backend/apps/slack/commands/committees.py
  backend/apps/slack/commands/contribute.py
  backend/apps/slack/commands/gsoc.py
  backend/apps/slack/commands/leaders.py
  backend/apps/slack/commands/owasp.py
  backend/apps/slack/commands/projects.py
  backend/apps/slack/common/constants.py
  backend/apps/slack/common/contribute.py
  backend/apps/slack/common/handlers/__init__.py
  backend/apps/slack/common/handlers/chapters.py
  backend/apps/slack/common/handlers/committees.py
  backend/apps/slack/common/handlers/projects.py
  backend/apps/slack/common/presentation.py
  backend/tests/slack/actions/home_tests.py
  backend/tests/slack/commands/chapters_tests.py
  backend/tests/slack/commands/committees_tests.py
  backend/tests/slack/commands/contribute_tests.py
  backend/tests/slack/commands/gsoc_tests.py
  backend/tests/slack/commands/leaders_tests.py
  backend/tests/slack/commands/owasp_tests.py
  backend/tests/slack/commands/projects_tests.py
  backend/tests/slack/common/handlers/__init__.py
  backend/tests/slack/common/handlers/chapters_test.py
  backend/tests/slack/common/handlers/committees_test.py
  backend/tests/slack/common/handlers/projects_test.py
Labels: nestbot, nestbot-tests

#532 hamburger-close-problem
  frontend/src/components/Card.tsx
  frontend/src/components/Header.tsx
  frontend/src/utils/constants.ts
Labels: frontend

#489 Added pagination logic in the slack bot
  backend/apps/slack/actions/home.py
  backend/apps/slack/blocks.py
  backend/apps/slack/commands/chapters.py
  backend/apps/slack/commands/committees.py
  backend/apps/slack/commands/projects.py
  backend/apps/slack/common/handlers/chapters.py
  backend/apps/slack/common/handlers/committees.py
  backend/apps/slack/common/handlers/projects.py
  backend/apps/slack/common/presentation.py
  backend/apps/slack/constants.py
  backend/tests/slack/actions/home_tests.py
  backend/tests/slack/commands/chapters_tests.py
  backend/tests/slack/commands/committees_tests.py
  backend/tests/slack/commands/projects_tests.py
Labels: nestbot, nestbot-tests

#508 ui-fixed and enhanced
  frontend/src/components/Card.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/SponsorButton.tsx
  frontend/src/utils/constants.ts
Labels: frontend

#541 Feature/troubleshooting section in contribution.md
  CONTRIBUTING.md
Labels: documentation

#555 Improve project details top contributors block
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend, frontend-tests

#542 Improved FE test coverage
  frontend/__tests__/src/pages/Committees.test.tsx
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/__tests__/src/pages/UserDetails.test.tsx
  frontend/__tests__/src/pages/Users.test.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/Contribute.tsx
  frontend/src/pages/Projects.tsx
Labels: frontend, frontend-tests

#576 chakra UI installation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
Labels: frontend

#552 Added Project Page Sorting
  backend/Makefile
  backend/apps/common/index.py
  backend/apps/common/management/commands/algolia_update_replicas.py
  backend/apps/owasp/index/project.py
  backend/tests/common/management/commands/algolia_update_replicas_tests.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/fetchAlgoliaData.ts
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/components/ui/dropdownMenu.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/pages/Projects.tsx
  frontend/src/utils/sortingOptions.ts
Labels: backend, frontend, backend-tests, makefile

#422 Made Inactive and archived entities to indexable
  backend/apps/owasp/index/chapter.py
  backend/apps/owasp/index/project.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/common.py
  backend/apps/owasp/models/managers/chapter.py
  backend/apps/owasp/models/mixins/chapter.py
  backend/apps/owasp/models/mixins/project.py
  backend/apps/owasp/models/project.py
  backend/tests/owasp/models/chapter_tests.py
  backend/tests/owasp/models/common_tests.py
  frontend/__tests__/src/data/mockChapterData.ts
  frontend/__tests__/src/data/mockProjectData.ts
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/types/card.ts
  frontend/src/types/chapter.ts
  frontend/src/types/project.ts
  frontend/src/utils/paramsMapping.ts
Labels: backend, frontend, backend-tests, frontend-tests

#591 Fix/committee header link 588
  .gitignore
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/Projects.tsx
Labels: frontend

#544 Created ChapterDetails Component
  frontend/__tests__/src/data/mockChapterDetailsData.ts
  frontend/__tests__/src/pages/ChapterDetails.test.tsx
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/utils/dateFormatter.ts
  frontend/src/utils/paramsMapping.ts
Labels: frontend, frontend-tests

#600 Modularize and remove repeated logic from details page
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/SecondaryCard.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/components/ToogleList.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/utils/urlIconMappings.ts
Labels: frontend

#571 Add OWASP project schema
  .github/labeler.yml
  .github/workflows/label-pull-requests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/sync-nest-data.yaml
  .github/workflows/test-schema.yaml
  .github/workflows/update-nest-test-images.yaml
  .gitignore
  Makefile
  schema/Dockerfile.test
  schema/Makefile
  schema/poetry.lock
  schema/project.json
  schema/pyproject.toml
  schema/tests/__init__.py
  schema/tests/conftest.py
  schema/tests/data/project/negative/level-invalid.yaml
  schema/tests/data/project/negative/name-empty.yaml
  schema/tests/data/project/negative/name-none.yaml
  schema/tests/data/project/positive/code-incubator.yaml
  schema/tests/test_project.py
  schema/tests/validators.py
Labels: docker, makefile, ci

#592 Added Graphql Poc for projectDetails page
  backend/apps/common/graphql/__init__.py
  backend/apps/common/graphql/nodes.py
  backend/apps/common/graphql/queries.py
  backend/apps/github/graphql/__init__.py
  backend/apps/github/graphql/nodes/__init__.py
  backend/apps/github/graphql/nodes/issue.py
  backend/apps/github/graphql/nodes/release.py
  backend/apps/github/graphql/nodes/user.py
  backend/apps/github/graphql/queries/__init__.py
  backend/apps/owasp/graphql/__init__.py
  backend/apps/owasp/graphql/nodes/__init__.py
  backend/apps/owasp/graphql/nodes/project.py
  backend/apps/owasp/graphql/queries/__init__.py
  backend/apps/owasp/graphql/queries/project.py
  backend/apps/owasp/models/project.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/graphql.py
  backend/settings/urls.py
  cspell/custom-dict.txt
  frontend/.env.example
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/queries/projectQueries.ts
  frontend/src/main.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/utils/credentials.ts
  frontend/src/utils/dateFormatter.ts
  frontend/src/utils/helpers/apolloClient.ts
  frontend/vite.config.ts
Labels: backend, frontend, frontend-tests, notify

#567 implemented heatmap background
  frontend/package-lock.json
  frontend/package.json
  frontend/public/img/heatmapBackground.png
  frontend/src/index.css
  frontend/src/pages/UserDetails.tsx
  frontend/src/utils/helpers/githubHeatmap.ts
  frontend/vite.config.ts
Labels: frontend

#609 Fix/navbar body click resolved
  frontend/src/components/Header.tsx
Labels: frontend

#628 fixed docs
  CONTRIBUTING.md
Labels: documentation

#629 updated nestbot /staff cmd
  backend/apps/common/constants.py
  backend/apps/slack/commands/staff.py
  backend/apps/slack/utils.py
  backend/tests/slack/commands/staff_tests.py
Labels: nestbot, nestbot-tests

#631 Migrated card component to chakraUI
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/__tests__/src/pages/Modal.test.tsx
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ActionButton.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/ContributorAvatar.tsx
  frontend/src/components/DisplayIcon.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/main.tsx
  frontend/src/utils/theme.ts
  frontend/src/wrappers/testUtil.tsx
Labels: frontend, frontend-tests

#611 Implemented skeleton from chakra ui
  frontend/__tests__/src/pages/Chapters.test.tsx
  frontend/__tests__/src/pages/CommitteeDetails.test.tsx
  frontend/__tests__/src/pages/Committees.test.tsx
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/__tests__/src/pages/Projects.test.tsx
  frontend/__tests__/src/pages/Users.test.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/SkeletonsBase.tsx
  frontend/src/components/skeletons/Card.tsx
  frontend/src/components/skeletons/UserCard.tsx
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/types/skeleton.ts
Labels: frontend, frontend-tests

#646 Support /gsoc 2025
  backend/apps/slack/commands/gsoc.py
  backend/tests/slack/commands/gsoc_tests.py
Labels: nestbot, nestbot-tests

#612 Added a toast for graphql error handling
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend

#653 Clean up project index structure (#652)
  backend/apps/github/index/user.py
  backend/apps/owasp/index/project.py
  backend/apps/owasp/models/mixins/project.py
  frontend/src/utils/paramsMapping.ts
Labels: backend, frontend

#648 update NestBot_/jobs command
  backend/apps/slack/commands/jobs.py
Labels: nestbot

#647 Updated /donate command
  backend/apps/slack/commands/donate.py
Labels: nestbot

#654 Fix background color for avatar image
  frontend/src/pages/UserDetails.tsx
Labels: frontend

#607 Fix: Align Project Details and Statistics blocks
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend, frontend-tests

#668 Feat/chapter details map
  frontend/src/components/ChapterMap.tsx
  frontend/src/pages/ChapterDetails.tsx
Labels: frontend

#683 Update : sync jobs now run on main repo and main branch only
  .github/workflows/sync-nest-data.yaml
Labels: ci

#679 Fix/incosistency
  frontend/src/components/Card.tsx
  frontend/src/components/NavButton.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/index.css
Labels: frontend

#672 test cases for graphql
  backend/apps/common/management/commands/purge_data.py
  backend/apps/common/models.py
  backend/apps/owasp/graphql/nodes/project.py
  backend/pyproject.toml
  backend/tests/common/graphql/__init__.py
  backend/tests/common/graphql/nodes_test.py
  backend/tests/common/graphql/queries_test.py
  backend/tests/github/graphql/nodes/__init__.py
  backend/tests/github/graphql/nodes/issue_test.py
  backend/tests/github/graphql/nodes/release_test.py
  backend/tests/github/graphql/nodes/user_test.py
  backend/tests/owasp/graphql/__init__.py
  backend/tests/owasp/graphql/nodes/__init__.py
  backend/tests/owasp/graphql/nodes/project_test.py
  backend/tests/owasp/graphql/queries/__init__.py
  backend/tests/owasp/graphql/queries/project_test.py
Labels: backend, backend-tests

#684 fix/issue_count of project Details page
  backend/apps/github/index/user.py
  backend/apps/owasp/index/project.py
  backend/apps/owasp/models/mixins/project.py
  frontend/src/utils/paramsMapping.ts
Labels: backend, frontend
