Repository OWASP/Nest, pull requests merged in 2025-06, with the labels that each got.

#1522 Add test: test for clearing cache
  backend/settings/test.py
  backend/tests/apps/common/management/commands/clear_cache_test.py
Labels: backend, backend-tests

#1512 Implemented Authentication using nextauth
  .github/workflows/run-ci-cd.yaml
  backend/apps/github/models/__init__.py
  backend/apps/github/models/common.py
  backend/apps/github/models/user.py
  backend/apps/nest/__init__.py
  backend/apps/nest/admin.py
  backend/apps/nest/apps.py
  backend/apps/nest/graphql/mutations/__init__.py
  backend/apps/nest/graphql/mutations/user.py
  backend/apps/nest/graphql/nodes/__init__.py
  backend/apps/nest/graphql/nodes/user.py
  backend/apps/nest/migrations/0001_initial.py
  backend/apps/nest/migrations/__init__.py
  backend/apps/nest/models/__init__.py
  backend/apps/nest/models/user.py
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/graphql.py
  backend/tests/apps/nest/__init__.py
  backend/tests/apps/nest/graphql/__init__.py
  backend/tests/apps/nest/graphql/mutations/__init__.py
  backend/tests/apps/nest/graphql/mutations/user_test.py
  backend/tests/apps/nest/graphql/nodes/__init__.py
  backend/tests/apps/nest/graphql/nodes/user_test.py
  backend/tests/apps/nest/models/__init__.py
  backend/tests/apps/nest/models/user_test.py
  docker/docker-compose-local.yaml
  frontend/.env.example
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/unit/pages/Login.test.tsx
  frontend/__tests__/unit/utils/middleware.test.ts
  frontend/jest.config.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/login/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/middleware.ts
  frontend/src/server/apolloClient.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/credentials.ts
  frontend/src/wrappers/provider.tsx
Labels: backend, frontend, backend-tests, frontend-tests, ci

#1565 docs: add Next.js to tech stack after migration
  CONTRIBUTING.md
Labels: docs

#1564 Add test coverage for `csrf.py`
  backend/tests/apps/core/api/csrf_test.py
Labels: backend, backend-tests

#1569 Fix Authentication related bugs
  .github/workflows/run-ci-cd.yaml
  frontend/.env.example
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/unit/pages/Login.test.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/components/UserMenu.tsx
  frontend/src/utils/credentials.ts
Labels: frontend, frontend-tests, ci

#1588 Rate limiting for messages sync
  backend/apps/slack/management/commands/slack_sync_messages.py
  backend/tests/slack/commands/management/slack_sync_messages_test.py
Labels: nestbot, nestbot-tests

#1624 Resolved bug: truncating repo name
  frontend/src/components/Milestones.tsx
Labels: frontend

#1625 Resolved bug: Made header buttons consistent
  frontend/src/components/Header.tsx
  frontend/src/components/NavButton.tsx
Labels: frontend

#1630 Fix some security hotspots
  backend/apps/github/utils.py
  backend/apps/owasp/scraper.py
  backend/apps/slack/views.py
  backend/docker/Dockerfile.local
  backend/docker/Dockerfile.test
  backend/tests/apps/common/utils_test.py
  cspell/custom-dict.txt
  docs/docker/Dockerfile.local
  frontend/docker/Dockerfile.local
  frontend/docker/Dockerfile.unit.test
  frontend/src/utils/urlIconMappings.ts
  schema/docker/Dockerfile.test
Labels: frontend, docker, nestbot, backend-tests, schema

#1635 Fix test cases and update code
  backend/apps/nest/graphql/mutations/user.py
  frontend/__tests__/unit/utils/middleware.test.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/components/LoginPageContent.tsx
  frontend/src/components/UserMenu.tsx
Labels: backend, frontend, frontend-tests

#1634 Implement OWASP Nest GitHub authentication
  .github/ansible/production/nest.yaml
  .github/ansible/staging/nest.yaml
  .github/workflows/run-ci-cd.yaml
  Makefile
  backend/Makefile
  backend/apps/common/management/commands/restore_backup.py
  backend/apps/github/models/__init__.py
  backend/apps/github/models/common.py
  backend/apps/github/models/user.py
  backend/apps/nest/__init__.py
  backend/apps/nest/admin.py
  backend/apps/nest/apps.py
  backend/apps/nest/graphql/mutations/__init__.py
  backend/apps/nest/graphql/mutations/user.py
  backend/apps/nest/graphql/nodes/__init__.py
  backend/apps/nest/graphql/nodes/user.py
  backend/apps/nest/migrations/0001_initial.py
  backend/apps/nest/migrations/__init__.py
  backend/apps/nest/models/__init__.py
  backend/apps/nest/models/user.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/graphql.py
  backend/tests/apps/nest/__init__.py
  backend/tests/apps/nest/graphql/__init__.py
  backend/tests/apps/nest/graphql/mutations/__init__.py
  backend/tests/apps/nest/graphql/mutations/user_test.py
  backend/tests/apps/nest/graphql/nodes/__init__.py
  backend/tests/apps/nest/graphql/nodes/user_test.py
  backend/tests/apps/nest/models/__init__.py
  backend/tests/apps/nest/models/user_test.py
  docker-compose/local.yaml
  docker-compose/production.yaml
  docker-compose/staging.yaml
  docs/poetry.lock
  frontend/.env.example
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/unit/pages/Login.test.tsx
  frontend/__tests__/unit/utils/middleware.test.ts
  frontend/jest.config.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LoginPageContent.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/middleware.ts
  frontend/src/server/apolloClient.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/credentials.ts
  frontend/src/wrappers/provider.tsx
Labels: backend, frontend, backend-tests, frontend-tests, deploy, makefile, ci

#1621 Saving entire body of messsages
  backend/apps/slack/admin.py
  backend/apps/slack/management/commands/slack_sync_messages.py
  backend/apps/slack/migrations/0016_message_raw_data_alter_message_author.py
  backend/apps/slack/migrations/0017_remove_message_text.py
  backend/apps/slack/models/conversation.py
  backend/apps/slack/models/member.py
  backend/apps/slack/models/message.py
  backend/tests/slack/commands/management/slack_sync_messages_test.py
  backend/tests/slack/models/message_test.py
Labels: nestbot, nestbot-tests

#1648 Add full coverage for zero coverage files
  backend/tests/apps/common/management/commands/restore_backup_test.py
  backend/tests/apps/github/management/commands/github_match_users_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/owasp/management/commands/owasp_enrich_events_test.py
  backend/tests/apps/owasp/management/commands/owasp_update_events_test.py
  backend/tests/apps/owasp/management/commands/owasp_update_sponsors_test.py
Labels: backend, backend-tests

#1649 Fix docker compose command
  Makefile
Labels: makefile

#1650 Fix inactive label alignment
  frontend/src/components/CardDetailsPage.tsx
Labels: frontend

#1644 Setup mentorship app and added models
  backend/apps/mentorship/__init__.py
  backend/apps/mentorship/admin.py
  backend/apps/mentorship/apps.py
  backend/apps/mentorship/migrations/0001_initial.py
  backend/apps/mentorship/migrations/__init__.py
  backend/apps/mentorship/models/__init__.py
  backend/apps/mentorship/models/common/__init__.py
  backend/apps/mentorship/models/common/experience_level.py
  backend/apps/mentorship/models/common/matching_attributes.py
  backend/apps/mentorship/models/common/start_end_range.py
  backend/apps/mentorship/models/mentee.py
  backend/apps/mentorship/models/mentee_module.py
  backend/apps/mentorship/models/mentee_program.py
  backend/apps/mentorship/models/mentor.py
  backend/apps/mentorship/models/mentor_module.py
  backend/apps/mentorship/models/module.py
  backend/apps/mentorship/models/program.py
  backend/settings/base.py
  cspell/custom-dict.txt
Labels: backend

#1633 Implement charts for health metrics
  backend/apps/owasp/graphql/nodes/project.py
  backend/apps/owasp/graphql/nodes/project_health_metrics.py
  backend/apps/owasp/models/project_health_metrics.py
  backend/tests/apps/owasp/graphql/nodes/project_health_metrics_test.py
  cspell/custom-dict.txt
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/GradientRadialChart.tsx
  frontend/src/components/HealthMetrics.tsx
  frontend/src/components/LineChart.tsx
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/card.ts
  frontend/src/types/healthMetrics.ts
  frontend/src/types/project.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1668 Add a feature flag for showing Project Health Metrics
  .github/workflows/run-ci-cd.yaml
  frontend/.env.example
  frontend/pnpm-lock.yaml
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/utils/credentials.ts
Labels: frontend, ci

#1667 Add health score as a ranking factor.
  backend/apps/owasp/index/project.py
  backend/apps/owasp/management/commands/owasp_update_project_health_requirements.py
  backend/apps/owasp/models/enums/__init__.py
  backend/apps/owasp/models/enums/project.py
  backend/apps/owasp/models/mixins/project.py
  backend/apps/owasp/models/project.py
  backend/apps/owasp/models/project_health_requirements.py
  backend/tests/apps/owasp/management/commands/owasp_update_project_health_requirements_test.py
  backend/tests/apps/owasp/models/project_health_requirements_test.py
  backend/tests/apps/owasp/models/project_test.py
Labels: backend, backend-tests

#1651 Chunk model and embeddings of message
  backend/Makefile
  backend/apps/ai/__init__.py
  backend/apps/ai/admin.py
  backend/apps/ai/management/commands/__init__.py
  backend/apps/ai/management/commands/ai_create_slack_message_chunks.py
  backend/apps/ai/migrations/0001_initial.py
  backend/apps/ai/migrations/0002_rename_chunk_text_chunk_text_and_more.py
  backend/apps/ai/migrations/0003_alter_chunk_options_alter_chunk_embedding_and_more.py
  backend/apps/ai/migrations/__init__.py
  backend/apps/ai/models/__init__.py
  backend/apps/ai/models/chunk.py
  backend/apps/slack/models/message.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/apps/ai/__init__.py
  backend/tests/apps/ai/management/commands/__init__.py
  backend/tests/apps/ai/models/__init__.py
  backend/tests/apps/ai/models/chunk_test.py
  cspell/custom-dict.txt
  docker-compose/local.yaml
  docker-compose/production.yaml
  docker-compose/staging.yaml
Labels: nestbot, backend-tests, makefile

#1680 Add sponsor component
  backend/apps/github/graphql/nodes/repository.py
  frontend/__tests__/unit/components/SponsorCard.test.tsx
  frontend/__tests__/unit/data/mockChapterDetailsData.ts
  frontend/__tests__/unit/data/mockRepositoryData.ts
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/__tests__/unit/pages/OrganizationDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/SponsorCard.tsx
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/card.ts
Labels: backend, frontend, frontend-tests
