Repository OWASP/Nest, pull requests merged in 2025-09, with the labels that each got.

#2158 Use singleton pattern in kms client
  backend/apps/common/model_fields.py
  backend/apps/nest/clients/kms.py
  backend/tests/apps/nest/clients/kms_test.py
Labels: backend, backend-tests

#2161 added ids to frontend graphql queries
  backend/apps/github/api/internal/nodes/repository_contributor.py
  backend/apps/github/api/internal/queries/repository_contributor.py
  backend/apps/github/models/repository_contributor.py
  backend/tests/apps/github/api/internal/queries/repository_contributor_test.py
  backend/tests/apps/github/models/repository_contributor_test.py
  frontend/src/server/queries/apiKeyQueries.ts
  frontend/src/server/queries/authQueries.ts
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/committeeQueries.ts
  frontend/src/server/queries/homeQueries.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/organizationQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/projectsHealthDashboardQueries.ts
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/server/queries/userQueries.ts
Labels: backend, frontend, backend-tests

#2180 Fixed SortBy component test cases #2173
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend, frontend-tests

#2179 generated a Release compoenent which is removing the code duplicacy a…
  frontend/__tests__/unit/components/Release.test.tsx
  frontend/__tests__/unit/data/mockSnapshotData.ts
  frontend/src/app/snapshots/[id]/page.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/Release.tsx
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
Labels: frontend, frontend-tests

#2209 Update README badge links
  README.md
Labels: docs

#2217 fix(ui): improve mobile navigation menu in Header.tsx
  frontend/src/components/Header.tsx
Labels: frontend

#2152 Feature/graphql support for badges
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/nest/api/internal/nodes/badge.py
  backend/apps/nest/management/commands/nest_update_badges.py
  backend/apps/nest/migrations/0005_alter_userbadge_user.py
  backend/apps/nest/models/user_badge.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
Labels: backend, backend-tests

#2231 Move Sign in button from Header to Side nav when on small devices.
  frontend/src/components/Header.tsx
  frontend/src/hooks/useIsMobile.ts
Labels: frontend

#2114 Implemented Initial Query Parser for Search Interfaces
  backend/apps/common/search/__init__.py
  backend/apps/common/search/query_parser.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/apps/common/search/__init__.py
  backend/tests/apps/common/search/query_parser_test.py
Labels: backend, backend-tests

#2208 Unify user summary card
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
Labels: frontend, frontend-tests

#2257 fix: align footer to bottom
  frontend/src/app/layout.tsx
Labels: frontend

#2275 test: add comprehensive LogoCarousel unit tests
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
Labels: frontend, frontend-tests

#2279 fix : added cursor-pointer to signin button
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/src/components/UserMenu.tsx
Labels: frontend, frontend-tests

#2164 Sync www-repopsitories
  backend/apps/ai/Makefile
  backend/apps/ai/common/base/chunk_command.py
  backend/apps/ai/common/constants.py
  backend/apps/ai/common/extractors/repository.py
  backend/apps/ai/management/commands/ai_update_repository_chunks.py
  backend/apps/ai/management/commands/ai_update_repository_context.py
  backend/apps/ai/models/chunk.py
  backend/apps/common/utils.py
  backend/tests/apps/ai/common/extractors/repository_test.py
  backend/tests/apps/ai/common/utils_test.py
  backend/tests/apps/ai/management/commands/ai_update_repository_chunks_test.py
  backend/tests/apps/ai/management/commands/ai_update_repository_context_test.py
  backend/tests/apps/ai/models/chunk_test.py
Labels: backend, backend-tests, makefile

#2287 fix params and remove refresh params
  frontend/__tests__/unit/components/ProgramCard.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/server/mutations/moduleMutations.ts
  frontend/src/server/mutations/programsMutations.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/programsMutations.generated.ts
Labels: frontend, frontend-tests

#2211 Implement calendar events scheduling
  backend/apps/common/utils.py
  backend/apps/nest/clients/google_calendar.py
  backend/apps/nest/handlers/__init__.py
  backend/apps/nest/handlers/calendar_events.py
  backend/apps/nest/migrations/0009_reminder_event.py
  backend/apps/nest/migrations/0010_reminderschedule_unique_reminder_schedule.py
  backend/apps/nest/migrations/0011_merge_20250908_0548.py
  backend/apps/nest/migrations/0012_reminderschedule_job_id.py
  backend/apps/nest/migrations/0013_merge_0006_delete_apikey_0012_reminderschedule_job_id.py
  backend/apps/nest/models/google_account_authorization.py
  backend/apps/nest/models/reminder.py
  backend/apps/nest/models/reminder_schedule.py
  backend/apps/nest/schedulers/__init__.py
  backend/apps/nest/schedulers/calendar_events/__init__.py
  backend/apps/nest/schedulers/calendar_events/base.py
  backend/apps/nest/schedulers/calendar_events/slack.py
  backend/apps/nest/utils/__init__.py
  backend/apps/nest/utils/calendar_events.py
  backend/apps/owasp/migrations/0053_merge_20250918_1659.py
  backend/apps/owasp/models/event.py
  backend/apps/slack/MANIFEST.yaml
  backend/apps/slack/actions/home.py
  backend/apps/slack/blocks.py
  backend/apps/slack/commands/__init__.py
  backend/apps/slack/commands/nestbot.py
  backend/apps/slack/common/handlers/calendar_events.py
  backend/apps/slack/constants.py
  backend/apps/slack/utils.py
  backend/docker/Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/apps/common/model_fileds_test.py
  backend/tests/apps/common/utils_test.py
  backend/tests/apps/nest/clients/google_calendar_test.py
  backend/tests/apps/nest/handlers/__init__.py
  backend/tests/apps/nest/handlers/calendar_events_test.py
  backend/tests/apps/nest/models/google_account_authorization_test.py
  backend/tests/apps/nest/models/reminder_schedule_test.py
  backend/tests/apps/nest/schedulers/__init__.py
  backend/tests/apps/nest/schedulers/calendar_events/__init__.py
  backend/tests/apps/nest/schedulers/calendar_events/base_test.py
  backend/tests/apps/nest/schedulers/calendar_events/slack_test.py
  backend/tests/apps/nest/utils/__init__.py
  backend/tests/apps/nest/utils/calendar_events_test.py
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/slack/commands/nestbot_test.py
  backend/tests/apps/slack/common/handlers/calendar_events_test.py
  cspell/custom-dict.txt
  docker-compose/local.yaml
  docker-compose/production.yaml
  docker-compose/staging.yaml
Labels: nestbot, backend-tests

#2243 Enhance /about page with new sections
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/types/about.ts
  frontend/src/utils/aboutData.ts
Labels: frontend, frontend-tests
