Repository OWASP/Nest, pull requests merged in 2025-07, with the labels that each got.

#1676 Implement resolver for a list of project health metrics
  backend/apps/owasp/graphql/filters/__init__.py
  backend/apps/owasp/graphql/filters/project_health_metrics.py
  backend/apps/owasp/graphql/nodes/project_health_metrics.py
  backend/apps/owasp/graphql/queries/project_health_metrics.py
  backend/tests/apps/owasp/graphql/filters/__init__.py
  backend/tests/apps/owasp/graphql/filters/project_health_metrics_test.py
  backend/tests/apps/owasp/graphql/nodes/project_health_metrics_test.py
  backend/tests/apps/owasp/graphql/queries/project_health_metrics_test.py
Labels: backend, backend-tests

#1703 Add bar with markers instead of gradient radial chart
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/src/components/BarChart.tsx
  frontend/src/components/GradientRadialChart.tsx
  frontend/src/components/HealthMetrics.tsx
  frontend/src/components/LineChart.tsx
  frontend/src/types/healthMetrics.ts
Labels: frontend, frontend-tests

#1707 Created project chunks
  backend/apps/ai/Makefile
  backend/apps/ai/management/commands/ai_create_project_chunks.py
Labels: backend, makefile

#1723 Created chunks for committee related data
  backend/apps/ai/Makefile
  backend/apps/ai/management/commands/ai_create_committee_chunks.py
Labels: backend, makefile

#1730 Revamp top contributor list component
  backend/apps/github/graphql/queries/repository_contributor.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/unit/data/mockAboutData.ts
  frontend/__tests__/unit/data/mockChapterData.ts
  frontend/__tests__/unit/data/mockChapterDetailsData.ts
  frontend/__tests__/unit/data/mockCommitteeData.ts
  frontend/__tests__/unit/data/mockCommitteeDetailsData.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/data/mockOrganizationData.ts
  frontend/__tests__/unit/data/mockProjectData.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/data/mockRepositoryData.ts
  frontend/__tests__/unit/data/mockSnapshotData.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ContributorAvatar.tsx
  frontend/src/components/TopContributorsList.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/committeeQueries.ts
  frontend/src/server/queries/homeQueries.ts
  frontend/src/server/queries/organizationQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/types/contributor.ts
  frontend/src/types/user.ts
Labels: backend, frontend, frontend-tests

#1732 Introduce DisableIndexing context manager
  backend/apps/common/management/commands/load_data.py
  backend/apps/common/management/commands/restore_backup.py
  backend/apps/core/utils/index.py
  backend/apps/github/management/commands/github_update_owasp_organization.py
  backend/apps/github/management/commands/github_update_related_organizations.py
  backend/tests/apps/common/management/commands/load_data_test.py
  backend/tests/apps/common/management/commands/restore_backup_test.py
  backend/tests/apps/core/utils/index_test.py
  backend/tests/apps/github/management/commands/github_update_related_organizations_test.py
Labels: backend, backend-tests

#1706 Feat: API Key management
  backend/apps/core/api/ninja.py
  backend/apps/nest/admin.py
  backend/apps/nest/graphql/__init__.py
  backend/apps/nest/graphql/mutations/__init__.py
  backend/apps/nest/graphql/mutations/api_key.py
  backend/apps/nest/graphql/mutations/user.py
  backend/apps/nest/graphql/nodes/api_key.py
  backend/apps/nest/graphql/permissions.py
  backend/apps/nest/graphql/queries/__init__.py
  backend/apps/nest/graphql/queries/api_key.py
  backend/apps/nest/migrations/0002_apikey.py
  backend/apps/nest/models/__init__.py
  backend/apps/nest/models/api_key.py
  backend/apps/nest/models/user.py
  backend/settings/api_v1.py
  backend/settings/base.py
  backend/settings/graphql.py
  backend/tests/apps/core/api/ninja_test.py
  backend/tests/apps/nest/graphql/mutations/api_key_test.py
  backend/tests/apps/nest/graphql/mutations/user_test.py
  backend/tests/apps/nest/graphql/nodes/api_keys_test.py
  backend/tests/apps/nest/graphql/queries/__init__.py
  backend/tests/apps/nest/graphql/queries/api_keys_test.py
  backend/tests/apps/nest/models/api_key_test.py
  frontend/__tests__/unit/data/mockApiKeysData.ts
  frontend/__tests__/unit/pages/ApiKeysPage.test.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/settings/api-keys/layout.tsx
  frontend/src/app/settings/api-keys/page.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/components/skeletons/ApiKeySkelton.tsx
  frontend/src/hooks/useDjangoSession.ts
  frontend/src/hooks/useLogout.ts
  frontend/src/server/queries/apiKeyQueries.ts
  frontend/src/server/queries/authQueries.ts
  frontend/src/types/apiKey.ts
  frontend/src/types/auth.ts
  frontend/src/utils/helpers/apolloClient.ts
  frontend/src/wrappers/provider.tsx
Labels: backend, frontend, backend-tests, frontend-tests

#1746 Api features filtering, caching and ordering
  backend/apps/github/api/v1/issue.py
  backend/apps/github/api/v1/label.py
  backend/apps/github/api/v1/organization.py
  backend/apps/github/api/v1/release.py
  backend/apps/github/api/v1/repository.py
  backend/apps/github/api/v1/user.py
  backend/apps/owasp/api/v1/chapter.py
  backend/apps/owasp/api/v1/committee.py
  backend/apps/owasp/api/v1/event.py
  backend/apps/owasp/api/v1/project.py
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/apps/owasp/api/v1/event_test.py
Labels: backend, backend-tests

#1748 Implement the detailed metrics dashboard page
  backend/apps/owasp/graphql/nodes/project.py
  backend/apps/owasp/graphql/nodes/project_health_metrics.py
  backend/apps/owasp/models/project_health_metrics.py
  backend/tests/apps/owasp/graphql/nodes/project_health_metrics_test.py
  backend/tests/apps/owasp/graphql/nodes/project_test.py
  backend/tests/apps/owasp/graphql/queries/project_health_metrics_test.py
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/data/mockProjectsDashboardMetricsDetailsData.ts
  frontend/__tests__/unit/pages/ProjectHealthDashboardMetricsDetails.test.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
  frontend/src/components/BarChart.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/DashboardCard.tsx
  frontend/src/components/GeneralCompliantComponent.tsx
  frontend/src/components/MetricsScoreCircle.tsx
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/projectsHealthDashboardQueries.ts
  frontend/src/types/healthMetrics.ts
  frontend/src/types/project.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1769 Add explanations for Ruff lint ignore
  backend/pyproject.toml
Labels: backend

#1779 feat: Enhance Ruff per-file ignores with documentation links
  backend/pyproject.toml
Labels: backend

#1781 Refactor Nest admin
  backend/apps/nest/admin/__init__.py
  backend/apps/nest/admin/api_key.py
  backend/apps/nest/admin/user.py
Labels: backend

#1718 Implement the presentation of dashboard metrics list with filters
  backend/apps/owasp/api/internal/nodes/project_health_metrics.py
  backend/apps/owasp/api/internal/ordering/__init__.py
  backend/apps/owasp/api/internal/ordering/project_health_metrics.py
  backend/apps/owasp/api/internal/queries/project_health_metrics.py
  backend/tests/apps/owasp/api/internal/nodes/project_health_metrics_test.py
  backend/tests/apps/owasp/api/internal/ordering/__init__.py
  backend/tests/apps/owasp/api/internal/ordering/project_health_metrics_test.py
  backend/tests/apps/owasp/api/internal/queries/project_health_metrics_test.py
  cspell/custom-dict.txt
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/unit/data/mockProjectsHealthMetricsData.ts
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/MetricsCard.tsx
  frontend/src/components/ProjectTypeDashboardCard.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/server/queries/projectsHealthDashboardQueries.ts
  frontend/src/types/DropDownSectionProps.ts
  frontend/src/types/healthMetrics.ts
  frontend/src/utils/getKeysLabels.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1787 Added Task model
  backend/apps/mentorship/admin.py
  backend/apps/mentorship/migrations/0002_module_labels_task.py
  backend/apps/mentorship/models/module.py
  backend/apps/mentorship/models/task.py
Labels: backend

#1788 Automatic API Documentation
  backend/apps/github/api/rest/v1/issue.py
  backend/apps/github/api/rest/v1/label.py
  backend/apps/github/api/rest/v1/organization.py
  backend/apps/github/api/rest/v1/release.py
  backend/apps/github/api/rest/v1/repository.py
  backend/apps/github/api/rest/v1/user.py
  backend/apps/owasp/api/rest/v1/chapter.py
  backend/apps/owasp/api/rest/v1/committee.py
  backend/apps/owasp/api/rest/v1/event.py
  backend/apps/owasp/api/rest/v1/project.py
  backend/settings/api/v1.py
  backend/tests/apps/owasp/api/rest/v1/project_test.py
Labels: backend, backend-tests

#1827 Refactor core app admin
  backend/apps/core/admin/__init__.py
  backend/apps/core/admin/prompt.py
Labels: backend

#1825 Add comprehensive unit tests for ActionButton component
  frontend/__tests__/unit/components/ActionButton.test.tsx
Labels: frontend, frontend-tests

#1833 feat: Added comprehensive unit tests for ContributorAvatar component
  frontend/__tests__/unit/components/ContributorAvatar.test.tsx
Labels: frontend, frontend-tests

#1832 Add unit tests for GitHub admin files
  backend/tests/apps/github/admin/__init__.py
  backend/tests/apps/github/admin/issue_test.py
  backend/tests/apps/github/admin/pull_request_test.py
  backend/tests/apps/github/admin/repository_test.py
Labels: backend, backend-tests

#1820 test: add unit tests for HealthMetrics component including edge-case handling
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
Labels: frontend, frontend-tests

#1875 feat(frontend): write unit tests for NavButton component
  frontend/__tests__/unit/components/NavButton.test.tsx
  frontend/package.json
Labels: frontend, frontend-tests

#1870 [Test] Add: Unit tests for InfoItem component
  frontend/__tests__/unit/components/InfoItem.test.tsx
Labels: frontend, frontend-tests

#1878 add: sentry source map support
  .github/workflows/run-ci-cd.yaml
  frontend/.env.example
  frontend/next.config.ts
  frontend/src/utils/credentials.ts
Labels: frontend, ci

#1852 feat: Add comprehensive unit tests for MetricsScoreCircle component
  frontend/__tests__/unit/components/MetricsScoreCircle.test.tsx
Labels: frontend, frontend-tests

#1871 test: improved coverage of github queries to more than 80
  backend/tests/apps/github/api/internal/queries/issue_test.py
  backend/tests/apps/github/api/internal/queries/milestone_test.py
  backend/tests/apps/github/api/internal/queries/organization_test.py
  backend/tests/apps/github/api/internal/queries/pull_request_test.py
  backend/tests/apps/github/api/internal/queries/release_test.py
  backend/tests/apps/github/api/internal/queries/repository_contributor_test.py
Labels: backend, backend-tests

#1780 RAG tool for agent (PoC for Nestbot)
  backend/apps/ai/Makefile
  backend/apps/ai/agent/__init__.py
  backend/apps/ai/agent/tools/__init__.py
  backend/apps/ai/agent/tools/rag/__init__.py
  backend/apps/ai/agent/tools/rag/generator.py
  backend/apps/ai/agent/tools/rag/rag_tool.py
  backend/apps/ai/agent/tools/rag/retriever.py
  backend/apps/ai/common/constants.py
  backend/apps/ai/management/commands/ai_run_rag_tool.py
Labels: backend, makefile

#1876 Added tests for <NavDropDown> component #1863
  frontend/__tests__/unit/components/NavDropDown.test.tsx
Labels: frontend, frontend-tests

#1877 Add LeadersList.test.tsx
  frontend/__tests__/unit/components/LeadersList.test.tsx
Labels: frontend, frontend-tests

#1756 Add button to download health stats PDF
  CONTRIBUTING.md
  backend/apps/owasp/api/internal/views/__init__.py
  backend/apps/owasp/api/internal/views/project_health_metrics.py
  backend/apps/owasp/api/internal/views/urls.py
  backend/apps/owasp/management/commands/owasp_generate_project_health_metrics_overview_pdf.py
  backend/apps/owasp/utils/__init__.py
  backend/apps/owasp/utils/pdf.py
  backend/settings/urls.py
  backend/tests/apps/owasp/management/commands/owasp_generate_project_health_metrics_overview_pdf_test.py
  backend/tests/apps/owasp/utils/__init__.py
  backend/tests/apps/owasp/utils/pdf_test.py
  frontend/.env.example
  frontend/src/app/projects/dashboard/page.tsx
  frontend/src/server/fetchMetricsOverviewPDF.ts
Labels: docs, backend, frontend, backend-tests

#1896 Add unit tests for MultiSearch component
  frontend/__tests__/unit/components/MultiSearch.test.tsx
Labels: frontend, frontend-tests

#1892 Add unit test for ai common files
  backend/tests/apps/ai/common/__init__.py
  backend/tests/apps/ai/common/utils_test.py
Labels: backend, backend-tests

#1909 Fix #1785 Refactor owasp app admin.py into separate files
  backend/apps/owasp/admin.py
  backend/apps/owasp/admin/__init__.py
  backend/apps/owasp/admin/chapter.py
  backend/apps/owasp/admin/committee.py
  backend/apps/owasp/admin/event.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/post.py
  backend/apps/owasp/admin/project.py
  backend/apps/owasp/admin/project_health_metrics.py
  backend/apps/owasp/admin/snapshot.py
  backend/apps/owasp/admin/sponsor.py
Labels: backend

#1757 Add button to download pdf detailed metrics
  backend/apps/owasp/Makefile
  backend/apps/owasp/api/internal/views/project_health_metrics.py
  backend/apps/owasp/api/internal/views/urls.py
  backend/apps/owasp/management/commands/owasp_generate_project_health_metrics_pdf.py
  backend/apps/owasp/utils/pdf.py
  backend/tests/apps/owasp/management/commands/owasp_generate_project_health_metrics_test.py
  backend/tests/apps/owasp/utils/pdf_test.py
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
  frontend/src/app/projects/dashboard/page.tsx
  frontend/src/components/MetricsPDFButton.tsx
  frontend/src/server/fetchMetricsOverviewPDF.ts
  frontend/src/server/fetchMetricsPDF.ts
Labels: backend, frontend, backend-tests, makefile

#1932 Implement GitHub app authentication
  .dockerignore
  .github/ansible/production/nest.yaml
  .github/ansible/staging/nest.yaml
  .github/workflows/run-ci-cd.yaml
  backend/apps/github/auth.py
  backend/apps/github/management/commands/github_add_related_repositories.py
  backend/apps/github/management/commands/github_get_installation_id.py
  backend/apps/github/management/commands/github_update_owasp_organization.py
  backend/apps/github/management/commands/github_update_related_organizations.py
  backend/apps/owasp/management/commands/owasp_scrape_projects.py
  backend/settings/production.py
  backend/tests/apps/github/auth_test.py
  backend/tests/apps/github/management/commands/github_add_related_repositories_test.py
  backend/tests/apps/github/management/commands/github_get_installation_id_test.py
  backend/tests/apps/github/management/commands/github_update_owasp_organization_test.py
  backend/tests/apps/github/management/commands/github_update_related_organizations_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_projects_test.py
  docker-compose/production.yaml
Labels: backend, backend-tests, deploy, ci

#1894 fix: align 'Show more' button in Projects page-#1329
  frontend/src/components/ShowMoreButton.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/components/TopContributorsList.tsx
Labels: frontend

#1931 Add OrganizationSitemap to OWASP Nest Sitemap Functionality
  backend/apps/sitemap/urls.py
  backend/apps/sitemap/views/__init__.py
  backend/apps/sitemap/views/base.py
  backend/apps/sitemap/views/organization.py
  backend/apps/sitemap/views/static.py
  backend/tests/apps/sitemap/urls_test.py
  backend/tests/apps/sitemap/views/organization_test.py
  backend/tests/apps/sitemap/views/static_test.py
Labels: backend, backend-tests
