Repository OWASP/Nest, pull requests merged in 2025-02, with the labels that each got.

#643 nestbot news command
  backend/apps/common/constants.py
  backend/apps/slack/commands/news.py
  backend/apps/slack/utils.py
Labels: nestbot

#663 shifted modal to chakra-Ui Dialog box
  frontend/__tests__/src/pages/Modal.test.tsx
  frontend/src/components/ActionButton.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/ui/Dialog.tsx
  frontend/src/pages/Contribute.tsx
Labels: frontend, frontend-tests

#695 Improve chapters map #535
  frontend/src/components/ChapterMap.tsx
  frontend/src/pages/Chapters.tsx
Labels: frontend

#703 Fix total count method results
  backend/apps/common/index.py
  backend/apps/owasp/index/chapter.py
  backend/apps/owasp/index/project.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/project.py
  backend/tests/owasp/models/chapter_test.py
Labels: backend, backend-tests

#602 move is_indexable properties from models to mixins
  backend/apps/github/models/issue.py
  backend/apps/github/models/mixins/issue.py
  backend/apps/github/models/mixins/release.py
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/github/models/release.py
  backend/apps/github/models/repository.py
  backend/apps/github/models/user.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/common.py
  backend/apps/owasp/models/mixins/chapter.py
  backend/apps/owasp/models/mixins/committee.py
  backend/apps/owasp/models/mixins/common.py
  backend/apps/owasp/models/mixins/project.py
  backend/apps/owasp/models/project.py
  backend/tests/github/models/mixins/repository_test.py
  backend/tests/github/models/mixins/user_test.py
  backend/tests/github/models/repository_test.py
  backend/tests/github/models/user_test.py
  backend/tests/owasp/models/common_test.py
  backend/tests/owasp/models/mixins/__init__.py
  backend/tests/owasp/models/mixins/common_test.py
Labels: backend, backend-tests, schema

#678 Generic component for details page
  frontend/__tests__/src/pages/ChapterDetails.test.tsx
  frontend/__tests__/src/pages/UserDetails.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ChapterMap.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/SecondaryCard.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/types/card.ts
  frontend/src/types/chapter.ts
  frontend/src/types/project.ts
Labels: frontend, frontend-tests, schema

#593 Addition of Contribute Section in Home of Slack NestBot
  backend/apps/slack/actions/home.py
  backend/apps/slack/blocks.py
  backend/apps/slack/commands/contribute.py
  backend/apps/slack/common/handlers/contribute.py
  backend/apps/slack/common/presentation.py
  backend/apps/slack/constants.py
  backend/tests/slack/commands/contribute_test.py
Labels: nestbot, nestbot-tests, schema

#718 fixed pre-commit and removed i-sort
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend, schema

#716 Added license in project schema
  schema/project.json
  schema/tests/data/project/negative/license-invalid-value.yaml
  schema/tests/data/project/positive/optional-properties.yaml
  schema/tests/data/project/positive/required-properties.yaml
  schema/tests/project_test.py
Labels: schema-tests

#733 Optimize images for better performance
  frontend/src/components/ContributorAvatar.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/components/UserCard.tsx
Labels: frontend

#731 Addition of email to leader structure
  schema/project.json
  schema/tests/data/project/negative/leader-email-empty.yaml
  schema/tests/data/project/negative/leader-email-missing.yaml
  schema/tests/project_test.py
Labels: schema-tests

#713 download attribute in project schema
  schema/project.json
  schema/tests/data/project/negative/downloads-empty.yaml
  schema/tests/data/project/negative/downloads-non-unique.yaml
  schema/tests/data/project/positive/optional-properties.yaml
  schema/tests/project_test.py
Labels: schema-tests

#722 Added related repository block in the Project Details
  backend/apps/github/graphql/nodes/repository.py
  backend/apps/github/models/repository.py
  backend/apps/owasp/graphql/nodes/project.py
  backend/tests/github/graphql/nodes/repository_test.py
  backend/tests/owasp/graphql/nodes/project_test.py
  frontend/src/api/queries/projectQueries.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/types/card.ts
  frontend/src/types/project.ts
Labels: backend, frontend, backend-tests

#744 tooltip-bug
  frontend/src/components/DisplayIcon.tsx
Labels: frontend

#740 Addition of website attribute to project schema
  schema/project.json
  schema/tests/data/project/negative/website-none.yaml
  schema/tests/data/project/positive/optional-properties.yaml
  schema/tests/project_test.py
Labels: schema-tests

#748 Refactor index synonyms
  backend/apps/github/index/issue.py
  backend/apps/github/index/synonyms/issue.txt
  backend/apps/owasp/index/project.py
  backend/apps/owasp/index/synonyms/project.txt
Labels: backend

#741 write repository schema and tests
  schema/project.json
  schema/tests/data/project/negative/repositories-empty.yaml
  schema/tests/data/project/negative/repositories-missing-url.yaml
  schema/tests/data/project/negative/repositories-non-unique.yaml
  schema/tests/data/project/positive/optional-properties.yaml
  schema/tests/project_test.py
Labels: schema-tests

#712 Fetch /gsoc command data from Algolia instead of DB
  backend/apps/owasp/models/project.py
  backend/apps/slack/commands/gsoc.py
  backend/apps/slack/utils.py
  backend/tests/slack/commands/gsoc_test.py
Labels: nestbot, nestbot-tests

#754 Added a method to convert block to text and fixed warning
  backend/apps/slack/commands/board.py
  backend/apps/slack/commands/chapters.py
  backend/apps/slack/commands/committees.py
  backend/apps/slack/commands/community.py
  backend/apps/slack/commands/contact.py
  backend/apps/slack/commands/contribute.py
  backend/apps/slack/commands/donate.py
  backend/apps/slack/commands/events.py
  backend/apps/slack/commands/gsoc.py
  backend/apps/slack/commands/jobs.py
  backend/apps/slack/commands/leaders.py
  backend/apps/slack/commands/news.py
  backend/apps/slack/commands/owasp.py
  backend/apps/slack/commands/policies.py
  backend/apps/slack/commands/projects.py
  backend/apps/slack/commands/sponsors.py
  backend/apps/slack/commands/staff.py
  backend/apps/slack/commands/users.py
  backend/apps/slack/events/member_joined_channel/contribute.py
  backend/apps/slack/events/member_joined_channel/gsoc.py
  backend/apps/slack/events/team_join.py
  backend/apps/slack/utils.py
  backend/tests/slack/events/user_joined_channel/gsoc_test.py
  backend/tests/slack/utils_test.py
Labels: nestbot, nestbot-tests

#753 Implemented RepositoryDetails page
  backend/apps/github/graphql/nodes/repository.py
  backend/apps/github/graphql/nodes/repository_contributor.py
  backend/apps/github/graphql/queries/__init__.py
  backend/apps/github/graphql/queries/repository.py
  backend/apps/owasp/graphql/queries/project.py
  backend/settings/graphql.py
  backend/tests/github/graphql/nodes/repository_test.py
  backend/tests/github/graphql/queries/__init__.py
  backend/tests/github/graphql/queries/repository_test.py
  frontend/__tests__/src/App.test.tsx
  frontend/__tests__/src/data/mockRepositoryData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/__tests__/src/pages/RepositoryDetails.test.tsx
  frontend/src/App.tsx
  frontend/src/api/queries/projectQueries.ts
  frontend/src/api/queries/repositoryQueries.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/pages/index.ts
  frontend/src/types/card.ts
  frontend/src/types/project.ts
Labels: backend, frontend, backend-tests, frontend-tests

#601 Cleanup: removing unused dependencies n dev dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#715 Buttons tooltips anchor tags migration to chakraUI
  frontend/__tests__/src/pages/UserDetails.test.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ActionButton.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/NavButton.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/wrappers/ErrorWrapper.tsx
Labels: frontend, frontend-tests

#755 Add local index names exclusion mechanism
  backend/.env.example
  backend/apps/common/index.py
  backend/apps/common/management/commands/algolia_update_suggestions.py
  backend/apps/github/index/issue.py
  backend/apps/github/index/release.py
  backend/apps/github/index/repository.py
  backend/apps/github/index/synonyms/issues.txt
  backend/apps/github/index/user.py
  backend/apps/owasp/index/chapter.py
  backend/apps/owasp/index/committee.py
  backend/apps/owasp/index/project.py
  backend/apps/owasp/index/synonyms/projects.txt
  backend/settings/base.py
  backend/tests/common/index_test.py
  backend/tests/common/management/commands/algolia_update_suggestions_test.py
Labels: backend, backend-tests

#780 Update card layout
  frontend/src/components/Card.tsx
  frontend/src/components/DisplayIcon.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/utils/data.ts
  frontend/src/utils/utility.ts
Labels: frontend

#787 Fixed user contributions heatmap
  frontend/src/utils/helpers/githubHeatmap.ts
Labels: frontend

#625 Added Issue and Releases Field
  backend/apps/github/graphql/nodes/user.py
  backend/apps/github/graphql/queries/__init__.py
  backend/apps/github/graphql/queries/user.py
  backend/tests/github/graphql/nodes/user_test.py
  backend/tests/github/graphql/queries/user_test.py
  frontend/__tests__/src/data/mockUserData.ts
  frontend/__tests__/src/data/mockUserDetails.ts
  frontend/__tests__/src/pages/UserDetails.test.tsx
  frontend/src/api/queries/userQueries.ts
  frontend/src/components/IssueCard.tsx
  frontend/src/components/ReleaseCard.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/pages/Users.tsx
  frontend/src/types/user.ts
Labels: backend, frontend, backend-tests, frontend-tests

#814 Add documentation attribute to project schema and update tests
  schema/project.json
  schema/tests/data/project/negative/documentation-empty.yaml
  schema/tests/data/project/negative/documentation-invalid.yaml
  schema/tests/data/project/negative/documentation-null.yaml
  schema/tests/data/project/positive/optional-properties.yaml
  schema/tests/project_test.py
Labels: schema-tests

#758 Migrated entity detail page to graphql
  .github/ansible/production/deploy.yaml
  .github/ansible/staging/deploy.yaml
  backend/apps/github/graphql/nodes/repository.py
  backend/apps/github/graphql/nodes/user.py
  backend/apps/github/graphql/queries/repository.py
  backend/apps/github/graphql/queries/user.py
  backend/apps/owasp/graphql/nodes/chapter.py
  backend/apps/owasp/graphql/nodes/committee.py
  backend/apps/owasp/graphql/nodes/common.py
  backend/apps/owasp/graphql/nodes/project.py
  backend/apps/owasp/graphql/queries/__init__.py
  backend/apps/owasp/graphql/queries/chapter.py
  backend/apps/owasp/graphql/queries/committee.py
  backend/apps/owasp/graphql/queries/project.py
  backend/data/project-custom-tags/gsoc-2025.json
  backend/tests/github/graphql/nodes/repository_test.py
  backend/tests/github/graphql/nodes/user_test.py
  backend/tests/github/graphql/queries/repository_test.py
  backend/tests/github/graphql/queries/user_test.py
  backend/tests/owasp/graphql/nodes/project_test.py
  backend/tests/owasp/graphql/queries/chapter_test.py
  backend/tests/owasp/graphql/queries/committee_test.py
  backend/tests/owasp/graphql/queries/project_test.py
  frontend/__tests__/src/data/mockChapterDetailsData.ts
  frontend/__tests__/src/data/mockCommitteeDetailsData.ts
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/data/mockUserDetailsData.ts
  frontend/__tests__/src/pages/ChapterDetails.test.tsx
  frontend/__tests__/src/pages/CommitteeDetails.test.tsx
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/__tests__/src/pages/UserDetails.test.tsx
  frontend/src/api/queries/chapterQueries.ts
  frontend/src/api/queries/committeeQueries.ts
  frontend/src/api/queries/projectQueries.ts
  frontend/src/api/queries/userQueries.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ChapterMap.tsx
  frontend/src/components/ContributorAvatar.tsx
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/SecondaryCard.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/types/card.ts
  frontend/src/types/chapter.ts
  frontend/src/types/committee.ts
  frontend/src/types/contributor.ts
  frontend/src/types/project.ts
  frontend/src/types/user.ts
  frontend/src/utils/urlIconMappings.ts
  frontend/src/utils/utility.ts
Labels: backend, frontend, backend-tests, frontend-tests, deploy

#797 Fix frontend test warnings
  frontend/jest.config.ts
  frontend/jest.setup.ts
Labels: frontend

#817 Fixed Card Skeleton
  frontend/src/components/skeletons/Card.tsx
Labels: frontend

#823 fixed makefile bug
  cspell/Makefile
  cspell/custom-dict.txt
Labels: makefile

#822 Feature/contributing formatting update
  CONTRIBUTING.md
  frontend/src/components/IssueCard.tsx
  frontend/src/pages/Projects.tsx
Labels: docs, frontend

#796 Added meta data and the useful info
  backend/Makefile
  backend/apps/common/management/commands/generate_sitemap.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/committee.py
  cspell/custom-dict.txt
  frontend/package-lock.json
  frontend/public/img/owasp_icon_white_background.png
  frontend/public/robots.txt
  frontend/src/components/MetadataManager.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/Committees.tsx
  frontend/src/pages/Contribute.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/Projects.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/pages/Users.tsx
  frontend/src/types/seo.ts
  frontend/src/utils/metadata.ts
Labels: backend, frontend, makefile

#808 Add mailing list attribute to project schema
  schema/project.json
  schema/tests/data/project/negative/mailing-list-empty.yaml
  schema/tests/data/project/negative/mailing-list-invalid.yaml
  schema/tests/data/project/negative/mailing-list-null.yaml
  schema/tests/project_test.py
Labels: schema-tests

#824 Bug fix : handles URL params correctly
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/src/hooks/useSearchPage.ts
Labels: frontend, frontend-tests

#768 Improve NestBot /users command
  backend/apps/github/api/search/__init__.py
  backend/apps/github/api/search/user.py
  backend/apps/slack/MANIFEST.yaml
  backend/apps/slack/commands/users.py
  backend/apps/slack/common/handlers/users.py
Labels: nestbot

#828 fixed image not rendering in the links preview
  frontend/src/components/MetadataManager.tsx
Labels: frontend

#839 fixed robot txt to allow scrapper facebook or twitter
  cspell/custom-dict.txt
  frontend/public/robots.txt
Labels: frontend

#788 Implement pluralize functionality
  frontend/__tests__/src/utils/pluralize.test.ts
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/utils/pluralize.ts
Labels: frontend, frontend-tests

#837 Map container is removed
  frontend/src/components/CardDetailsPage.tsx
Labels: frontend

#849 Update sorting order to descending and enhance Sort By label styling
  frontend/src/components/SortBy.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/pages/Projects.tsx
Labels: frontend

#838 Add community attribute to project schema and update tests
  schema/chapter.json
  schema/project.json
  schema/tests/chapter_test.py
  schema/tests/data/chapter/negative/community-empty.yaml
  schema/tests/data/chapter/negative/community-invalid.yaml
  schema/tests/data/chapter/negative/community-null.yaml
  schema/tests/data/chapter/positive/optional-properties.yaml
  schema/tests/data/project/negative/community-empty.yaml
  schema/tests/data/project/negative/community-invalid.yaml
  schema/tests/data/project/negative/community-null.yaml
  schema/tests/data/project/positive/optional-properties.yaml
  schema/tests/project_test.py
Labels: schema-tests

#810 Routing Algolia Requests through the Backend Instead of Directly from frontend
  .github/workflows/run-ci-cd.yaml
  CONTRIBUTING.md
  backend/apps/core/api/__init__.py
  backend/apps/core/api/algolia.py
  backend/apps/core/utils/__init__.py
  backend/apps/core/utils/params_mapping.py
  backend/settings/urls.py
  backend/tests/core/__init__.py
  backend/tests/core/api/__init__.py
  backend/tests/core/api/algolia_test.py
  backend/tests/core/utils/__init__.py
  backend/tests/core/utils/match_test.py
  cspell/custom-dict.txt
  frontend/.env.example
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/fetchAlgoliaData.ts
  frontend/src/api/loadData.ts
  frontend/src/components/AutoSuggestion.tsx
  frontend/src/components/Search.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/Users.tsx
  frontend/src/styles/Autosuggestion.css
  frontend/src/utils/credentials.ts
  frontend/src/utils/helpers/algoliaClient.ts
  frontend/src/utils/paramsMapping.ts
  frontend/vite.config.ts
Labels: docs, backend, frontend, backend-tests, frontend-tests, ci

#857 fix params logic
  frontend/__tests__/src/pages/Contribute.test.tsx
  frontend/src/hooks/useSearchPage.ts
Labels: frontend, frontend-tests

#795 720:Updated the map and map background for better visibility in dark mode
  frontend/src/components/ChapterMap.tsx
Labels: frontend

#882 cleaning algolia suggestions code
  backend/Makefile
  backend/apps/common/index.py
  backend/apps/common/management/commands/algolia_update_suggestions.py
  backend/tests/common/index_test.py
  backend/tests/common/management/commands/algolia_update_suggestions_test.py
Labels: backend, backend-tests, makefile

#894 Fixed repository definition
  schema/project.json
  schema/tests/data/project/negative/repositories-changelog-empty.yaml
  schema/tests/data/project/negative/repositories-changelog-invalid.yaml
  schema/tests/data/project/negative/repositories-changelog-null.yaml
  schema/tests/data/project/negative/repositories-code-of-conduct-empty.yaml
  schema/tests/data/project/negative/repositories-code-of-conduct-invalid.yaml
  schema/tests/data/project/negative/repositories-code-of-conduct-null.yaml
  schema/tests/data/project/negative/repositories-contribution-guide-empty.yaml
  schema/tests/data/project/negative/repositories-contribution-guide-invalid.yaml
  schema/tests/data/project/negative/repositories-contribution-guide-null.yaml
  schema/tests/data/project/negative/repositories-url-empty.yaml
  schema/tests/data/project/negative/repositories-url-invalid.yaml
  schema/tests/data/project/negative/repositories-url-null.yaml
  schema/tests/data/project/positive/optional-properties.yaml
  schema/tests/project_test.py
Labels: schema-tests

#872 Updated card skeleton and header button
  frontend/src/components/Header.tsx
  frontend/src/components/SkeletonsBase.tsx
  frontend/src/components/skeletons/Card.tsx
  frontend/src/types/skeleton.ts
Labels: frontend

#866 Fix capitalization in project details block
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend, frontend-tests

#903 fix: new twitter icon
  frontend/src/utils/urlIconMappings.ts
Labels: frontend

#884 Updated sorting icon functionality in SortBy.tsx
  frontend/src/components/SortBy.tsx
Labels: frontend

#875 Update schema development documentation
  CONTRIBUTING.md
Labels: docs

#809 Add snapshot model
  backend/Makefile
  backend/apps/owasp/admin.py
  backend/apps/owasp/exceptions.py
  backend/apps/owasp/management/commands/owasp_process_snapshots.py
  backend/apps/owasp/migrations/0015_snapshot.py
  backend/apps/owasp/models/snapshot.py
  backend/tests/owasp/management/commands/process_snapshots_test.py
  backend/tests/owasp/models/snapshot_test.py
Labels: backend, backend-tests, makefile

#885 Added main page
  backend/apps/github/graphql/nodes/repository_contributor.py
  backend/apps/github/graphql/queries/__init__.py
  backend/apps/github/graphql/queries/issue.py
  backend/apps/github/graphql/queries/release.py
  backend/apps/github/graphql/queries/repository_contributor.py
  backend/apps/owasp/graphql/nodes/chapter.py
  backend/apps/owasp/graphql/nodes/project.py
  backend/apps/owasp/graphql/nodes/stats.py
  backend/apps/owasp/graphql/queries/__init__.py
  backend/apps/owasp/graphql/queries/chapter.py
  backend/apps/owasp/graphql/queries/project.py
  backend/apps/owasp/graphql/queries/stats.py
  cspell/custom-dict.txt
  frontend/__tests__/src/data/mockHomeData.ts
  frontend/__tests__/src/pages/Home.test.tsx
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/__tests__/src/pages/RepositoryDetails.test.tsx
  frontend/src/api/queries/homeQueries.ts
  frontend/src/components/AnimatedCounter.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/contributor.ts
  frontend/src/types/home.ts
  frontend/src/types/search.ts
Labels: backend, frontend, frontend-tests

#911 Added test-all command
  .github/workflows/run-ci-cd.yaml
  .github/workflows/test-schema.yaml
  CONTRIBUTING.md
  Makefile
  cspell/Makefile
  frontend/Makefile
Labels: docs, frontend, makefile, ci

#912 Fixed sort button not triggering dropdown
  frontend/src/components/SortBy.tsx
Labels: frontend

#914 Added navigation through keys in suggestion in Home
  frontend/src/components/MultiSearch.tsx
Labels: frontend

#917 Refactor: Add capitalize utility function and use it in ProjectDetailsPage
  frontend/__tests__/src/utils/capitalize.test.ts
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/utils/capitalize.ts
Labels: frontend, frontend-tests

#770 Docker-Multi Stage Build
  .github/workflows/run-ci-cd.yaml
  .github/workflows/test-schema.yaml
  backend/Dockerfile.production
  backend/Dockerfile.staging
  backend/Dockerfile.test
  backend/Makefile
  docker-compose-production.yaml
  docker-compose-staging.yaml
  frontend/Dockerfile.test
  schema/Dockerfile.test
  schema/Makefile
Labels: backend, frontend, docker, makefile, ci, schema

#921 Fix/sidebar UI
  frontend/src/components/Header.tsx
Labels: frontend

#883 Fixed entity detail number formatting
  frontend/__tests__/src/data/mockProjectDetailsData.ts
  frontend/__tests__/src/pages/ProjectDetails.test.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend, frontend-tests

#920 918: Consistent Border Radius
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ChapterMap.tsx
Labels: frontend

#939 Improved counters format consistency
  backend/Dockerfile.local
  frontend/__tests__/src/data/mockRepositoryData.ts
  frontend/__tests__/src/pages/RepositoryDetails.test.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/pages/RepositoryDetails.tsx
Labels: backend, frontend, docker, frontend-tests

#931 Added End-to-End Testing
  .github/workflows/run-ci-cd.yaml
  .github/workflows/update-nest-test-images.yaml
  .gitignore
  cspell/custom-dict.txt
  frontend/Makefile
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/home.spec.ts
  frontend/__tests__/unit/App.test.tsx
  frontend/__tests__/unit/components/MarkdownWrapper.test.tsx
  frontend/__tests__/unit/data/mockChapterData.ts
  frontend/__tests__/unit/data/mockChapterDetailsData.ts
  frontend/__tests__/unit/data/mockCommitteeData.ts
  frontend/__tests__/unit/data/mockCommitteeDetailsData.ts
  frontend/__tests__/unit/data/mockContributeData.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/data/mockProjectData.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/data/mockRepositoryData.ts
  frontend/__tests__/unit/data/mockUserData.ts
  frontend/__tests__/unit/data/mockUserDetails.ts
  frontend/__tests__/unit/data/mockUserDetailsData.ts
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/__tests__/unit/pages/Committees.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/Modal.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/Projects.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/__tests__/unit/pages/Users.test.tsx
  frontend/__tests__/unit/utils/capitalize.test.ts
  frontend/__tests__/unit/utils/pluralize.test.ts
  frontend/docker/Dockerfile.e2e.test
  frontend/docker/Dockerfile.test
  frontend/docker/Dockerfile.unit.test
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tsconfig.json
Labels: frontend, docker, frontend-tests, makefile, ci

#943 fix alignment of issue/release card component
  frontend/__tests__/e2e/pages/home.spec.ts
  frontend/src/components/ItemCardList.tsx
  frontend/src/pages/Home.tsx
  frontend/src/utils/dateFormatter.ts
Labels: frontend, frontend-tests

#948 feat: made org and location clickable on user detail page
  frontend/src/pages/UserDetails.tsx
Labels: frontend

#941 Added url for user and issue on project detail page
  backend/apps/github/graphql/nodes/issue.py
  backend/tests/github/graphql/nodes/issue_test.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/src/api/queries/homeQueries.ts
  frontend/src/components/ItemCardList.tsx
Labels: backend, frontend, backend-tests, frontend-tests
