Repository OWASP/Nest, pull requests merged in 2025-03, with the labels that each got.

#962 added focus functionality on home page search bar
  frontend/src/components/MultiSearch.tsx
Labels: frontend

#964 Fixed and added new social media icons on chapters
  cspell/custom-dict.txt
  frontend/src/components/Card.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/utils/urlIconMappings.ts
Labels: frontend

#968 Apply labels automatically at issue creation ,issue no.888
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/label-issues.yaml
Labels: docs, ci

#904 Add Project Health Dashboard models
  backend/Makefile
  backend/apps/owasp/admin.py
  backend/apps/owasp/management/commands/owasp_update_project_health_requirements.py
  backend/apps/owasp/migrations/0016_projecthealthmetrics.py
  backend/apps/owasp/migrations/0017_projecthealthrequirements_and_more.py
  backend/apps/owasp/models/project_health_metrics.py
  backend/apps/owasp/models/project_health_requirements.py
  backend/tests/owasp/management/commands/owasp_update_project_health_requirements_test.py
  backend/tests/owasp/models/project_health_metrics_test.py
  backend/tests/owasp/models/project_health_requirements_test.py
Labels: backend, backend-tests, makefile

#976 Update backend graphQL resolvers for Project level/type
  backend/apps/owasp/graphql/nodes/project.py
Labels: backend

#979 Add more guidlines to the CONTRIUBITING.md.
  CONTRIBUTING.md
Labels: docs

#657 Improved NestBot /events command
  backend/Makefile
  backend/apps/common/utils.py
  backend/apps/github/management/commands/github_update_owasp_organization.py
  backend/apps/github/utils.py
  backend/apps/owasp/admin.py
  backend/apps/owasp/api/event.py
  backend/apps/owasp/graphql/nodes/event.py
  backend/apps/owasp/graphql/queries/__init__.py
  backend/apps/owasp/graphql/queries/event.py
  backend/apps/owasp/management/commands/owasp_update_events.py
  backend/apps/owasp/migrations/0016_remove_event_created_at_and_more.py
  backend/apps/owasp/migrations/0018_merge_20250302_1945.py
  backend/apps/owasp/models/event.py
  backend/apps/slack/commands/events.py
  backend/apps/slack/utils.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/github/management/commands/github_update_owasp_organization_test.py
  backend/tests/owasp/api/event_test.py
  backend/tests/owasp/models/event_test.py
  backend/tests/owasp/models/project_test.py
  backend/tests/slack/commands/events_test.py
Labels: nestbot, makefile, nestbot-tests

#981 frontend for snapshotDetailsPage
  backend/apps/github/graphql/nodes/release.py
  backend/apps/owasp/admin.py
  backend/apps/owasp/graphql/nodes/snapshot.py
  backend/apps/owasp/graphql/queries/__init__.py
  backend/apps/owasp/graphql/queries/snapshot.py
  backend/apps/owasp/migrations/0020_snapshot_key_snapshot_title.py
  backend/apps/owasp/migrations/0021_alter_snapshot_key.py
  backend/apps/owasp/models/snapshot.py
  backend/tests/github/graphql/nodes/release_test.py
  backend/tests/owasp/models/snapshot_test.py
  frontend/__tests__/unit/App.test.tsx
  frontend/__tests__/unit/data/mockSnapshotData.ts
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/src/App.tsx
  frontend/src/api/queries/snapshotQueries.ts
  frontend/src/components/ContributorAvatar.tsx
  frontend/src/components/DisplayIcon.tsx
  frontend/src/pages/SnapshotDetails.tsx
  frontend/src/pages/index.ts
  frontend/src/types/snapshot.ts
  frontend/src/utils/data.ts
  frontend/src/utils/utility.ts
Labels: backend, frontend, backend-tests, frontend-tests

#978 Added End-to-End test cases for All pages
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.tsx
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.tsx
Labels: frontend, frontend-tests

#988 Added updated_at attribute in sortBy component
  backend/apps/common/index.py
  backend/apps/owasp/index/project.py
  frontend/src/utils/sortingOptions.ts
Labels: backend, frontend

#942 Implementation Of Committee Schema
  schema/committee.json
  schema/tests/committee_test.py
  schema/tests/conftest.py
  schema/tests/data/committee/negative/community-empty.yaml
  schema/tests/data/committee/negative/community-non-unique.yaml
  schema/tests/data/committee/negative/community-null.yaml
  schema/tests/data/committee/negative/description-null.yaml
  schema/tests/data/committee/negative/description-undefined.yaml
  schema/tests/data/committee/negative/events-empty.yaml
  schema/tests/data/committee/negative/events-invalid.yaml
  schema/tests/data/committee/negative/events-non-unique.yaml
  schema/tests/data/committee/negative/events-null.yaml
  schema/tests/data/committee/negative/group-mail-empty.yaml
  schema/tests/data/committee/negative/group-mail-null.yaml
  schema/tests/data/committee/negative/logo-empty.yaml
  schema/tests/data/committee/negative/logo-non-unique.yaml
  schema/tests/data/committee/negative/logo-null.yaml
  schema/tests/data/committee/negative/meeting-minutes-invalid.yaml
  schema/tests/data/committee/negative/meeting-minutes-null.yaml
  schema/tests/data/committee/negative/members-empty.yaml
  schema/tests/data/committee/negative/members-null.yaml
  schema/tests/data/committee/negative/members-undefined.yaml
  schema/tests/data/committee/negative/name-empty.yaml
  schema/tests/data/committee/negative/name-undefined.yaml
  schema/tests/data/committee/negative/resources-invalid.yaml
  schema/tests/data/committee/negative/resources-null.yaml
  schema/tests/data/committee/negative/scope-invalid.yaml
  schema/tests/data/committee/negative/scope-null.yaml
  schema/tests/data/committee/negative/social-media-empty.yaml
  schema/tests/data/committee/negative/social-media-invalid.yaml
  schema/tests/data/committee/negative/social-media-null.yaml
  schema/tests/data/committee/negative/sponsors-empty.yaml
  schema/tests/data/committee/negative/sponsors-invalid.yaml
  schema/tests/data/committee/negative/sponsors-null.yaml
  schema/tests/data/committee/negative/tags-empty.yaml
  schema/tests/data/committee/negative/tags-null.yaml
  schema/tests/data/committee/negative/tags-undefined.yaml
  schema/tests/data/committee/negative/website-empty.yaml
  schema/tests/data/committee/negative/website-invalid-url.yaml
  schema/tests/data/committee/negative/website-null.yaml
  schema/tests/data/committee/positive/optional-properties.yaml
  schema/tests/data/committee/positive/required-properties.yaml
Labels: schema-tests

#630 Improved the "/sponsors" command for slack
  backend/Makefile
  backend/apps/owasp/admin.py
  backend/apps/owasp/graphql/nodes/sponsor.py
  backend/apps/owasp/graphql/queries/__init__.py
  backend/apps/owasp/graphql/queries/sponsor.py
  backend/apps/owasp/management/commands/owasp_update_sponsors.py
  backend/apps/owasp/migrations/0022_sponsor.py
  backend/apps/owasp/models/sponsor.py
  backend/apps/slack/commands/sponsors.py
  backend/apps/slack/utils.py
  backend/tests/owasp/models/sponsors_test.py
  backend/tests/slack/commands/sponsors_test.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/src/api/queries/homeQueries.ts
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/home.ts
  frontend/tailwind.config.js
Labels: frontend, nestbot, frontend-tests, makefile, nestbot-tests

#984 Fix overflow and layout issues in UserCard component on Community page
  frontend/src/components/UserCard.tsx
Labels: frontend

#1023 Modified: Updated the API endpoint in contributing.md file
  CONTRIBUTING.md
Labels: docs

#1001 fixed issue #965 Corrected Link Redirection of recent issues, updated tests and UI change.
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/api/queries/projectQueries.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ItemCardList.tsx
Labels: frontend, frontend-tests

#1019 Added upcoming events section
  backend/apps/owasp/graphql/queries/event.py
  backend/apps/owasp/models/event.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/api/queries/homeQueries.ts
  frontend/src/pages/Home.tsx
  frontend/src/types/event.ts
  frontend/src/types/home.ts
Labels: backend, frontend, frontend-tests

#1018 migrate: footer component to chakra-ui
  frontend/src/components/Footer.tsx
Labels: frontend

#1031 Added sponsors sorting based on their type
  backend/apps/owasp/graphql/nodes/sponsor.py
  backend/apps/owasp/graphql/queries/sponsor.py
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/src/api/queries/homeQueries.ts
  frontend/src/components/LogoCarousel.tsx
  frontend/src/types/home.ts
Labels: backend, frontend, frontend-tests

#1033 feat: mailing list schema to chapter schema
  schema/chapter.json
  schema/tests/chapter_test.py
  schema/tests/data/chapter/negative/mailing_list_empty.yaml
  schema/tests/data/chapter/negative/mailing_list_invalid.yaml
  schema/tests/data/chapter/negative/mailing_list_null.yaml
Labels: schema-tests

#951 fix: clickable org if there is any @ text in user bio
  frontend/__tests__/unit/data/mockUserDetails.ts
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/pages/UserDetails.tsx
Labels: frontend, frontend-tests

#1045 chore: remove @types/date-fns and update deps
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

#1052 Fixed Loading Spinner
  frontend/src/index.css
Labels: frontend

#1049 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#1050 Issue/#1028: Add padding to content lines of project details to align with statistics card
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/pages/ProjectDetails.tsx
Labels: frontend, frontend-tests

#1059 Fix tooltip conflicts for duplicate contributors
  frontend/src/components/Card.tsx
  frontend/src/components/ContributorAvatar.tsx
Labels: frontend

#1042 accessibility linter
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ModeToggle.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/components/ToggleContributors.tsx
  frontend/src/pages/UserDetails.tsx
Labels: frontend, frontend-tests

#1062 Added facet filters
  backend/apps/core/api/algolia.py
  backend/tests/core/api/algolia_test.py
  frontend/src/api/fetchAlgoliaData.ts
Labels: backend, frontend, backend-tests

#1047 issue#1034: Enhance date formatting in Home component to support date ranges
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/utils/dateFormatter.test.ts
  frontend/src/pages/Home.tsx
  frontend/src/utils/dateFormatter.ts
Labels: frontend, frontend-tests

#1070 Issue resolved : #1068 Correction to overflow of name in usercard
  frontend/src/components/UserCard.tsx
  frontend/src/pages/Users.tsx
  frontend/src/types/card.ts
Labels: frontend

#1071 Fixed issue #1035 Correct redirection and Links have valid URLs.
  backend/apps/github/graphql/nodes/release.py
  backend/apps/github/models/release.py
  backend/tests/github/graphql/nodes/release_test.py
  frontend/src/api/queries/homeQueries.ts
Labels: backend, frontend, backend-tests

#1064 🔍 Integrate Event Search from GraphQL
  frontend/src/components/MultiSearch.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/search.ts
Labels: frontend

#1009 Improves home page chapter map
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ChapterMap.tsx
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/SnapshotDetails.tsx
Labels: frontend, frontend-tests

#1030 Fix issue: #963 UI Overflow on Mobile for Home page
  frontend/src/pages/Home.tsx
Labels: frontend

#1066 Added AI processing to events
  backend/Makefile
  backend/apps/core/models/prompt.py
  backend/apps/owasp/admin.py
  backend/apps/owasp/graphql/nodes/event.py
  backend/apps/owasp/management/commands/owasp_enrich_events.py
  backend/apps/owasp/migrations/0023_event_latitude_event_longitude_and_more.py
  backend/apps/owasp/migrations/0024_event_country_event_postal_code_event_region.py
  backend/apps/owasp/migrations/0025_remove_event_country_remove_event_postal_code_and_more.py
  backend/apps/owasp/models/event.py
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/unit/pages/Modal.test.tsx
  frontend/src/api/queries/homeQueries.ts
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/components/Modal.tsx
  frontend/src/pages/Contribute.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/event.ts
  frontend/src/types/modal.ts
Labels: backend, frontend, frontend-tests, makefile

#1077 Fix Issue: #1076 Date test fixed for Contribute to handle various cases.
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/unit/data/mockContributeData.ts
Labels: frontend, frontend-tests

#1083 Used Millify for main page counters
  frontend/src/components/AnimatedCounter.tsx
Labels: frontend

#990 Changed the logic of fetching leader's data
  backend/apps/owasp/management/commands/owasp_scrape_chapters.py
  backend/apps/owasp/management/commands/owasp_scrape_committees.py
  backend/apps/owasp/management/commands/owasp_scrape_projects.py
  backend/apps/owasp/models/common.py
  backend/apps/owasp/scraper.py
  backend/tests/owasp/management/commands/owasp_scrape_chapters_test.py
  backend/tests/owasp/management/commands/owasp_scrape_committees_test.py
  backend/tests/owasp/management/commands/owasp_scrape_projects_test.py
  backend/tests/owasp/models/chapter_test.py
  backend/tests/owasp/models/committee_test.py
  backend/tests/owasp/models/common_test.py
  backend/tests/owasp/models/project_test.py
  backend/tests/owasp/scraper_test.py
  frontend/Makefile
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/src/api/queries/homeQueries.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/chapter.ts
  frontend/src/types/home.ts
Labels: backend, frontend, backend-tests, frontend-tests, makefile

#1090 changed recent issues, recent releases to 2 column layout
  frontend/src/components/CardDetailsPage.tsx
Labels: frontend

#1100 Fix the multisearch bar
  frontend/src/components/MultiSearch.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#1043 Owasp.org post preview
  .gitignore
  backend/Makefile
  backend/apps/common/constants.py
  backend/apps/owasp/admin.py
  backend/apps/owasp/graphql/nodes/post.py
  backend/apps/owasp/graphql/queries/__init__.py
  backend/apps/owasp/graphql/queries/post.py
  backend/apps/owasp/management/commands/owasp_sync_posts.py
  backend/apps/owasp/migrations/0026_post.py
  backend/apps/owasp/migrations/0028_merge_20250313_1853.py
  backend/apps/owasp/models/post.py
  backend/apps/slack/utils.py
  backend/docker/Dockerfile.local
  backend/tests/owasp/management/commands/owasp_sync_posts_test.py
  backend/tests/owasp/models/post_test.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/src/api/queries/homeQueries.ts
  frontend/src/pages/Home.tsx
  frontend/src/types/home.ts
Labels: frontend, docker, nestbot, backend-tests, frontend-tests, makefile

#1046 Improve algolia.py input data validation
  backend/apps/core/api/algolia.py
  backend/apps/core/validators.py
  backend/tests/core/api/algolia_test.py
  backend/tests/core/validators_test.py
Labels: backend, backend-tests

#1101 Migration of toast component to ChakraUI
  frontend/__tests__/unit/App.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/Toaster.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/hooks/useToast.ts
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/pages/SnapshotDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/wrappers/ErrorWrapper.tsx
Labels: frontend, frontend-tests

#1111 fixed cluster marker text color
  frontend/src/index.css
Labels: frontend

#1110 Refactor RepositoryBasedEntityModel::from_github
  backend/apps/github/utils.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/committee.py
  backend/apps/owasp/models/common.py
  backend/apps/owasp/models/project.py
  backend/tests/owasp/models/chapter_test.py
  backend/tests/owasp/models/committee_test.py
  backend/tests/owasp/models/common_test.py
  backend/tests/owasp/models/project_test.py
Labels: backend, backend-tests

#1113 Sidebar migration to chakra ui
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/src/components/Header.tsx
  frontend/src/pages/Home.tsx
Labels: frontend, frontend-tests

#1118 Fix regex for chapter leader
  backend/apps/owasp/models/common.py
  backend/tests/owasp/models/common_test.py
Labels: backend, backend-tests

#1099 Fixes issue #1027 Clickalbe tags for languages/topics
  frontend/src/components/ToggleableList.tsx
Labels: frontend

#1121 fixed map borders on Chapter and Main page
  frontend/src/pages/Chapters.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#1112 Feature: scroll to top button
  frontend/__tests__/unit/components/ScrollToTop.test.tsx
  frontend/src/App.tsx
  frontend/src/components/ScrollToTop.tsx
Labels: frontend, frontend-tests

#1097 Updated chapter list map behavior
  frontend/src/pages/Chapters.tsx
Labels: frontend

#1123 Add support for getting public IP address in local environment
  backend/.env.example
  backend/apps/common/utils.py
  backend/settings/local.py
  backend/tests/common/utils_test.py
Labels: backend, backend-tests

#1127 Fixed contribute page responsiveness
  frontend/src/components/Card.tsx
Labels: frontend

#1142 Update entity tags parsing logic
  backend/apps/github/management/commands/github_update_owasp_organization.py
  backend/apps/owasp/models/common.py
  backend/tests/owasp/models/common_test.py
Labels: backend, backend-tests

#1155 fix: dark mode toggle logic
  frontend/src/components/ModeToggle.tsx
Labels: frontend

#1152 Restructured user details page
  backend/apps/github/graphql/nodes/issue.py
  backend/apps/github/graphql/nodes/pull_request.py
  backend/apps/github/graphql/nodes/user.py
  backend/apps/github/graphql/queries/__init__.py
  backend/apps/github/graphql/queries/issue.py
  backend/apps/github/graphql/queries/pull_request.py
  backend/apps/github/graphql/queries/repository.py
  backend/apps/github/graphql/queries/user.py
  backend/apps/github/models/mixins/user.py
  backend/tests/apps/github/graphql/nodes/issue_test.py
  backend/tests/apps/github/graphql/queries/repository_test.py
  backend/tests/apps/github/models/mixins/user_test.py
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/unit/data/mockUserDetails.ts
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/App.tsx
  frontend/src/api/queries/homeQueries.ts
  frontend/src/api/queries/repositoryQueries.ts
  frontend/src/api/queries/userQueries.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/IssueCard.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/components/Search.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/types/card.ts
  frontend/src/types/project.ts
  frontend/src/types/user.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1117 Truncated text component
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/unit/components/TruncatedText.test.tsx
  frontend/jest.setup.ts
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/components/TruncatedText.tsx
  frontend/src/pages/Home.tsx
Labels: frontend, frontend-tests

#1183 Indexes added to created_at Field in Issue, PullRequest, and Release Models
  backend/apps/github/migrations/0019_issue_github_issu_created_4afbcc_idx_and_more.py
  backend/apps/github/models/issue.py
  backend/apps/github/models/pull_request.py
  backend/apps/github/models/release.py
Labels: backend

#1185 Issue resoved: 1182: cleared getTestId
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/src/pages/Home.tsx
Labels: frontend, frontend-tests

#1178 Added required badges for security and code best practices
  README.md
  cspell/custom-dict.txt
Labels: docs

#1194 added created badge in README.md
  README.md
Labels: docs

#1196 fixed the modal window where the close button was focused earlier
  frontend/src/components/Modal.tsx
Labels: frontend

#1154 Enhance GraphQL Endpoints to Support Distinct Filtering for Issues and Releases
  backend/apps/github/graphql/queries/issue.py
  backend/apps/github/graphql/queries/release.py
  frontend/src/api/queries/homeQueries.ts
  frontend/src/pages/Home.tsx
Labels: backend, frontend

#1195 Pin Github actions to specific commit
  .github/workflows/label-issues.yaml
  .github/workflows/label-pull-requests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  .github/workflows/sync-nest-data.yaml
  .github/workflows/test-schema.yaml
  .github/workflows/update-nest-test-images.yaml
Labels: ci

#1143 entity leader component added
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/LeadersList.tsx
  frontend/src/types/leaders.ts
Labels: frontend, frontend-tests

#1176 Updated user details page
  backend/apps/github/graphql/nodes/pull_request.py
  backend/apps/github/graphql/queries/issue.py
  backend/apps/github/graphql/queries/pull_request.py
  backend/apps/github/graphql/queries/release.py
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/api/queries/homeQueries.ts
  frontend/src/components/ItemCardList.tsx
  frontend/src/pages/Home.tsx
  frontend/src/types/home.ts
Labels: backend, frontend, frontend-tests

#1198 Added Bluesky, GitHub, and Slack Icons to OWASP Nest Footer
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/footerIcons.spec.ts
  frontend/src/components/Footer.tsx
  frontend/src/utils/constants.ts
Labels: frontend, frontend-tests

#1208 Added Trivy scan in CI/CD pipeline
  .github/workflows/run-ci-cd.yaml
Labels: ci

#1130 Feature/communit snapshots page
  backend/apps/owasp/graphql/queries/snapshot.py
  frontend/__tests__/unit/App.test.tsx
  frontend/__tests__/unit/data/mockSnapshotData.ts
  frontend/__tests__/unit/pages/Snapshots.test.tsx
  frontend/src/App.tsx
  frontend/src/api/queries/snapshotQueries.ts
  frontend/src/components/Header.tsx
  frontend/src/components/SnapshotCard.tsx
  frontend/src/index.css
  frontend/src/pages/Snapshots.tsx
  frontend/src/pages/index.ts
  frontend/src/types/card.ts
  frontend/src/types/link.ts
  frontend/src/types/seo.ts
  frontend/src/types/snapshot.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/metadata.ts
Labels: backend, frontend, frontend-tests

#1212 add composite index
  backend/apps/github/migrations/0020_repositorycontributor_user_contrib_idx.py
  backend/apps/github/models/repository_contributor.py
Labels: backend

#1197 About page for OWASP Nest
  cspell/custom-dict.txt
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/data/mockAboutData.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/Users.tsx
  frontend/src/types/card.ts
  frontend/src/types/project.ts
  frontend/src/utils/aboutData.ts
  frontend/src/utils/constants.ts
Labels: frontend, frontend-tests

#1218 Enhancing sub links dropdown for header
  frontend/src/components/Header.tsx
  frontend/src/utils/constants.ts
Labels: frontend

#1200 Refractor InfoBlock
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/InfoItem.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/types/card.ts
Labels: frontend, frontend-tests

#1220 Add black icon for light theme in GitHub
  README.md
Labels: docs

#1222 Changed text selection colour for dark mode
  frontend/src/index.css
Labels: frontend

#1224 Tooltip Position and Enhance Hover Effect for Contributor Avatars"
  frontend/src/components/ContributorAvatar.tsx
Labels: frontend

#1226 Removed heatmap for private contributors
  frontend/src/pages/UserDetails.tsx
Labels: frontend

#1211 Add unit tests for Slack command handlers
  backend/tests/apps/slack/commands/board_test.py
  backend/tests/apps/slack/commands/community_test.py
  backend/tests/apps/slack/commands/contact_test.py
  backend/tests/apps/slack/commands/donate_test.py
  backend/tests/apps/slack/commands/jobs_test.py
  backend/tests/apps/slack/commands/news_test.py
  backend/tests/apps/slack/commands/policies_test.py
  backend/tests/apps/slack/commands/sponsor_test.py
  backend/tests/apps/slack/commands/users_test.py
  backend/tests/apps/slack/models/__init__.py
  backend/tests/apps/slack/models/event_test.py
Labels: backend, backend-tests

#1227 Unify main page look
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/LeadersList.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/components/SecondaryCard.tsx
  frontend/src/components/SnapshotCard.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/components/TopContributors.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/pages/ChapterDetails.tsx
  frontend/src/pages/CommitteeDetails.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/ProjectDetails.tsx
  frontend/src/pages/RepositoryDetails.tsx
  frontend/src/pages/UserDetails.tsx
Labels: frontend, frontend-tests

#1215 Added code and dependency scan for Trivy workflow
  .github/workflows/run-ci-cd.yaml
Labels: ci
