Repository OWASP/Nest, pull requests merged in 2025-04, with the labels that each got.

#1255 Secured the idx/graphQL endpoints by csrf
  backend/settings/base.py
  backend/settings/local.py
  backend/settings/production.py
  backend/settings/staging.py
  backend/settings/urls.py
  cspell/custom-dict.txt
  frontend/__tests__/unit/utils/utility.test.ts
  frontend/src/api/fetchAlgoliaData.ts
  frontend/src/utils/helpers/apolloClient.ts
  frontend/src/utils/utility.ts
Labels: backend, frontend, frontend-tests

#1267 Allow additional characters in query validation
  backend/apps/core/validators.py
  backend/tests/apps/core/validators_test.py
Labels: backend, backend-tests

#1260 Fixed home page components for mobile view
  frontend/src/components/TopContributors.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#1269 Docker base image migration
  .gitignore
  backend/Makefile
  backend/docker/Dockerfile
  backend/docker/Dockerfile.local
  backend/docker/Dockerfile.test
  backend/docker/entrypoint.sh
  backend/poetry.lock
  backend/pyproject.toml
  cspell/custom-dict.txt
  docker/docker-compose-local.yaml
  docs/docker/Dockerfile.local
  frontend/docker/Dockerfile
  frontend/docker/Dockerfile.e2e.test
  frontend/docker/Dockerfile.local
  frontend/docker/Dockerfile.unit.test
  schema/docker/Dockerfile.test
Labels: backend, frontend, docker, makefile, schema

#1273 Fixes #1272 fixing Contributors , tooltip fix and user logo
  frontend/src/components/LeadersList.tsx
  frontend/src/pages/Home.tsx
Labels: frontend

#1239 Introduced new components for recent items.
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/pages/Home.tsx
Labels: frontend, frontend-tests

#1268 Refactor of issue and release GraphQL queries
  backend/apps/github/graphql/nodes/user.py
  backend/apps/github/graphql/queries/issue.py
  backend/apps/github/graphql/queries/pull_request.py
  backend/apps/github/graphql/queries/release.py
  backend/tests/apps/github/graphql/nodes/user_test.py
  frontend/__tests__/unit/data/mockUserDetails.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/api/queries/userQueries.ts
  frontend/src/pages/UserDetails.tsx
  frontend/src/types/user.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1274 Add repository name to recent releases
  backend/apps/github/graphql/nodes/release.py
  backend/tests/apps/github/graphql/nodes/release_test.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/src/api/queries/homeQueries.ts
  frontend/src/api/queries/projectQueries.ts
  frontend/src/api/queries/repositoryQueries.ts
  frontend/src/api/queries/userQueries.ts
  frontend/src/components/RecentReleases.tsx
  frontend/src/pages/UserDetails.tsx
  frontend/src/types/project.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1281 Added endpoint to generate csrf tokens
  .github/workflows/run-ci-cd.yaml
  .github/workflows/test-schema.yaml
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  backend/apps/core/api/csrf.py
  backend/settings/urls.py
  frontend/.env.example
  frontend/Makefile
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.tsx
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.tsx
  frontend/__tests__/e2e/pages/footerIcons.spec.ts
  frontend/__tests__/unit/utils/utility.test.ts
  frontend/src/api/fetchAlgoliaData.ts
  frontend/src/api/fetchCsrfToken.ts
  frontend/src/utils/credentials.ts
  frontend/src/utils/helpers/apolloClient.ts
  frontend/src/utils/utility.ts
  frontend/vite.config.ts
  proxy/production.conf
  proxy/staging.conf
  schema/Makefile
Labels: docs, backend, frontend, frontend-tests, makefile, ci, schema

#1289 Added trivy.yaml
  .github/workflows/run-ci-cd.yaml
  .trivyignore
  trivy.yaml
Labels: ci

#1297 Added scroll to top
  frontend/src/app/layout.tsx
  frontend/src/components/ScrollToTop.tsx
Labels: frontend

#1298 updated dockerfile
  frontend/docker/Dockerfile
Labels: frontend

#1324 fixed frontend ui bugs
  frontend/src/components/LeadersList.tsx
  frontend/src/components/RecentReleases.tsx
Labels: frontend

#1323 Optimize frontend docker image
  frontend/docker/Dockerfile
  frontend/next.config.ts
Labels: frontend

#1327 added edge and component test cases for phone
  frontend/__tests__/e2e/components/Footer.spec.ts
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/playwright.config.ts
Labels: frontend, frontend-tests

#1282 Updated Icons in About Page to Use SVGs Instead of Icon Classes
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/public/images/icons/ansible.svg
  frontend/public/images/icons/django.svg
  frontend/public/images/icons/docker.svg
  frontend/public/images/icons/github.svg
  frontend/public/images/icons/jest.svg
  frontend/public/images/icons/nextjs.svg
  frontend/public/images/icons/playwright.svg
  frontend/public/images/icons/postgresql.svg
  frontend/public/images/icons/pytest.svg
  frontend/public/images/icons/python.svg
  frontend/public/images/icons/tailwindcss.svg
  frontend/public/images/icons/typescript.svg
  frontend/src/app/about/page.tsx
  frontend/src/utils/aboutData.ts
Labels: frontend, frontend-tests

#1337 fixed the date parsing function
  backend/apps/owasp/models/event.py
  backend/tests/apps/owasp/models/event_test.py
Labels: backend, backend-tests

#1295 Organization FE/BE implementation
  backend/apps/common/management/commands/generate_sitemap.py
  backend/apps/core/utils/index.py
  backend/apps/github/graphql/nodes/organization.py
  backend/apps/github/graphql/queries/__init__.py
  backend/apps/github/graphql/queries/issue.py
  backend/apps/github/graphql/queries/organization.py
  backend/apps/github/graphql/queries/pull_request.py
  backend/apps/github/graphql/queries/release.py
  backend/apps/github/graphql/queries/repository.py
  backend/apps/github/graphql/queries/repository_contributor.py
  backend/apps/github/index/__init__.py
  backend/apps/github/index/organization.py
  backend/apps/github/models/mixins/organization.py
  backend/apps/slack/commands/community.py
  backend/apps/slack/common/handlers/users.py
  backend/tests/apps/github/graphql/nodes/organization_test.py
  backend/tests/apps/github/models/mixins/organization_test.py
  backend/tests/apps/slack/commands/community_test.py
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/__tests__/unit/data/mockAboutData.ts
  frontend/__tests__/unit/data/mockOrganizationData.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Committees.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/Organization.test.tsx
  frontend/__tests__/unit/pages/OrganizationDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/Projects.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/__tests__/unit/pages/Users.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/chapters/page.tsx
  frontend/src/app/committees/page.tsx
  frontend/src/app/community/members/[userKey]/page.tsx
  frontend/src/app/community/members/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/organizations/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/projects/contribute/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ContributorAvatar.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/LeadersList.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/TopContributors.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/server/queries/organizationQueries.ts
  frontend/src/types/card.ts
  frontend/src/types/organization.ts
  frontend/src/types/search.ts
  frontend/src/utils/constants.ts
Labels: frontend, nestbot, backend-tests, frontend-tests

#1339 Added a link to the repository name that navigates to /repositories/
  frontend/src/components/RecentReleases.tsx
Labels: frontend

#1345 updated line break issue
  frontend/src/components/CardDetailsPage.tsx
Labels: frontend

#1362 Improvement of leaders list component
  frontend/src/app/page.tsx
  frontend/src/components/LeadersList.tsx
Labels: frontend

#1370 Added repository count and followers count for the users/organizations page
  backend/apps/core/utils/index.py
  backend/apps/github/index/organization.py
  backend/apps/github/models/mixins/organization.py
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/__tests__/unit/data/mockOrganizationData.ts
  frontend/__tests__/unit/data/mockUserData.ts
  frontend/src/app/members/page.tsx
  frontend/src/app/organizations/page.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/types/card.ts
  frontend/src/types/organization.ts
Labels: backend, frontend, frontend-tests

#1338 Added sentry config and global-error component
  frontend/.gitignore
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/OrganizationDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/__tests__/unit/pages/global-error.test.tsx
  frontend/jest.config.ts
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/about/page.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
  frontend/src/app/global-error.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/app/repositories/[repositoryKey]/page.tsx
  frontend/src/app/snapshots/[id]/page.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/instrumentation-client.ts
  frontend/src/instrumentation.ts
  frontend/src/sentry.config.ts
  frontend/src/sentry.server.config.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/server/fetchCsrfToken.ts
  frontend/src/utils/helpers/apolloClient.ts
Labels: frontend, frontend-tests

#1363 Added tooltip when hover && repository name
  backend/apps/github/graphql/nodes/issue.py
  backend/apps/github/graphql/nodes/pull_request.py
  backend/tests/apps/github/graphql/nodes/issue_test.py
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/unit/data/mockHomeData.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/data/mockRepositoryData.ts
  frontend/__tests__/unit/data/mockUserDetails.ts
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/server/queries/homeQueries.ts
  frontend/src/server/queries/organizationQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/project.ts
  frontend/src/types/user.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1359 Adding icons for left headings
  frontend/src/app/about/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/ToggleableList.tsx
Labels: frontend

#1369 Improve main page GraphQL performance
  backend/apps/github/graphql/queries/repository_contributor.py
  backend/apps/github/migrations/0021_release_release_published_at_idx.py
  backend/apps/github/models/release.py
  backend/apps/owasp/graphql/queries/sponsor.py
  backend/apps/owasp/graphql/queries/stats.py
  backend/apps/owasp/migrations/0031_alter_chapter_created_at_and_more.py
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/event.py
  backend/apps/owasp/models/post.py
  backend/apps/owasp/models/project.py
Labels: backend

#1380 Moved `/repositories` under organization
  backend/apps/github/graphql/nodes/issue.py
  backend/apps/github/graphql/nodes/pull_request.py
  backend/apps/github/graphql/nodes/release.py
  backend/apps/github/graphql/nodes/repository.py
  backend/apps/github/graphql/queries/repository.py
  backend/tests/apps/github/graphql/nodes/issue_test.py
  backend/tests/apps/github/graphql/nodes/release_test.py
  backend/tests/apps/github/graphql/nodes/repository_test.py
  backend/tests/apps/github/graphql/queries/repository_test.py
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/RepositoriesCard.tsx
  frontend/src/server/queries/homeQueries.ts
  frontend/src/server/queries/organizationQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/home.ts
  frontend/src/types/project.ts
  frontend/src/types/user.ts
Labels: backend, frontend, backend-tests, frontend-tests

#1397 Breadcrumb component implementation
  frontend/__tests__/e2e/helpers/expects.ts
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/__tests__/unit/components/BreadCrumbs.test.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/BreadCrumbs.tsx
Labels: frontend, frontend-tests

#1209 Extend user model with total contributions field.
  backend/Makefile
  backend/apps/github/graphql/nodes/user.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/github/migrations/0021_user_contributions_count.py
  backend/apps/github/migrations/0022_merge_20250417_1000.py
  backend/apps/github/migrations/0023_alter_user_contributions_count.py
  backend/apps/github/models/mixins/user.py
  backend/apps/github/models/user.py
  backend/tests/apps/github/graphql/nodes/user_test.py
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/unit/data/mockUserDetails.ts
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/user.ts
Labels: backend, frontend, backend-tests, frontend-tests, makefile

#1400 fixed snapshot page where breadcrumb was overlapping
  frontend/src/app/snapshots/[id]/page.tsx
Labels: frontend

#1326 Optimize Auto Labeling for GitHub Issues
  .github/workflows/label-issues.yaml
Labels: ci

#1213 Add Environment Variables Documentation
  CONTRIBUTING.md
Labels: docs

#1156 Map Glitches Due to Unnecessary Re-Renders
  frontend/src/components/ChapterMap.tsx
Labels: frontend

#960 adding feature of anchor links
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/components/AnchorTitle.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/SecondaryCard.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/components/TopContributors.tsx
Labels: frontend, frontend-tests

#1301 Feature: NestBot block message template system
  backend/apps/slack/commands/__init__.py
  backend/apps/slack/commands/board.py
  backend/apps/slack/commands/chapters.py
  backend/apps/slack/commands/command.py
  backend/apps/slack/commands/committees.py
  backend/apps/slack/commands/community.py
  backend/apps/slack/commands/contact.py
  backend/apps/slack/commands/contribute.py
  backend/apps/slack/commands/donate.py
  backend/apps/slack/commands/events.py
  backend/apps/slack/commands/gsoc.py
  backend/apps/slack/commands/jobs.py
  backend/apps/slack/commands/leaders.py
  backend/apps/slack/commands/news.py
  backend/apps/slack/commands/owasp.py
  backend/apps/slack/commands/policies.py
  backend/apps/slack/commands/projects.py
  backend/apps/slack/commands/sponsor.py
  backend/apps/slack/commands/sponsors.py
  backend/apps/slack/commands/staff.py
  backend/apps/slack/commands/users.py
  backend/apps/slack/models/event.py
  backend/apps/slack/template_loader.py
  backend/apps/slack/templates/chapters.template
  backend/apps/slack/templates/contribute.template
  backend/apps/slack/templates/donate.template
  backend/apps/slack/templates/events.template
  backend/apps/slack/templates/feedback.template
  backend/apps/slack/templates/gsoc.template
  backend/apps/slack/templates/jobs.template
  backend/apps/slack/templates/leaders.template
  backend/apps/slack/templates/navigate.template
  backend/apps/slack/templates/news.template
  backend/apps/slack/templates/owasp.template
  backend/apps/slack/templates/policies.template
  backend/apps/slack/templates/sponsors.template
  backend/apps/slack/templates/staff.template
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/apps/slack/commands/board_test.py
  backend/tests/apps/slack/commands/chapters_test.py
  backend/tests/apps/slack/commands/committees_test.py
  backend/tests/apps/slack/commands/community_test.py
  backend/tests/apps/slack/commands/contact_test.py
  backend/tests/apps/slack/commands/contribute_test.py
  backend/tests/apps/slack/commands/donate_test.py
  backend/tests/apps/slack/commands/events_test.py
  backend/tests/apps/slack/commands/gsoc_test.py
  backend/tests/apps/slack/commands/jobs_test.py
  backend/tests/apps/slack/commands/leaders_test.py
  backend/tests/apps/slack/commands/news_test.py
  backend/tests/apps/slack/commands/owasp_test.py
  backend/tests/apps/slack/commands/policies_test.py
  backend/tests/apps/slack/commands/projects_test.py
  backend/tests/apps/slack/commands/sponsor_test.py
  backend/tests/apps/slack/commands/sponsors_test.py
  backend/tests/apps/slack/commands/staff_test.py
  backend/tests/apps/slack/commands/users_test.py
  backend/tests/apps/slack/models/event_test.py
Labels: nestbot, backend-tests

#1398 Add recent PRs to project/repository pages
  backend/apps/github/graphql/queries/pull_request.py
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/unit/data/mockProjectDetailsData.ts
  frontend/__tests__/unit/data/mockRepositoryData.ts
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/project.ts
Labels: backend, frontend, frontend-tests

#1404 Fixes 1396: UI for Mobile Homepage fixed
  frontend/src/app/page.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
Labels: frontend

#1415 Add Turbo for Faster Compilation, Testing, and Build Times
  cspell/custom-dict.txt
  frontend/.pnpmrc
  frontend/docker/Dockerfile
  frontend/docker/Dockerfile.e2e.test
  frontend/docker/Dockerfile.unit.test
  frontend/next.config.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
Labels: frontend, docker

#1434 Improved AnchorTitle component used slug to get href from title
  cspell/custom-dict.txt
  frontend/__tests__/unit/utils/slugify.test.ts
  frontend/src/app/page.tsx
  frontend/src/components/AnchorTitle.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/TopContributors.tsx
  frontend/src/utils/slugify.ts
Labels: frontend, frontend-tests

#1433 Nestbot /events command refactor
  backend/apps/slack/commands/events.py
  backend/apps/slack/templates/events.jinja
  backend/apps/slack/utils.py
  backend/tests/apps/slack/commands/events_test.py
  frontend/src/server/queries/homeQueries.ts
Labels: frontend, nestbot, backend-tests

#1435 Fixed breadcrumb styling and added tests
  frontend/__tests__/unit/components/BreadCrumbs.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Projects.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/snapshots/[id]/page.tsx
  frontend/src/app/snapshots/page.tsx
  frontend/src/components/BreadCrumbs.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/SearchPageLayout.tsx
Labels: frontend, frontend-tests

#1414 Added Metadata for dynamic pages and static pages
  .github/workflows/run-ci-cd.yaml
  frontend/.env.example
  frontend/jest.config.ts
  frontend/playwright.config.ts
  frontend/src/app/about/layout.tsx
  frontend/src/app/chapters/[chapterKey]/layout.tsx
  frontend/src/app/chapters/layout.tsx
  frontend/src/app/committees/[committeeKey]/layout.tsx
  frontend/src/app/committees/layout.tsx
  frontend/src/app/contribute/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/members/[memberKey]/layout.tsx
  frontend/src/app/members/layout.tsx
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/layout.tsx
  frontend/src/app/organizations/layout.tsx
  frontend/src/app/projects/[projectKey]/layout.tsx
  frontend/src/app/projects/layout.tsx
  frontend/src/app/snapshots/[id]/layout.tsx
  frontend/src/app/snapshots/layout.tsx
  frontend/src/components/Header.tsx
  frontend/src/server/apolloClient.ts
  frontend/src/server/fetchCsrfTokenServer.ts
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/committeeQueries.ts
  frontend/src/server/queries/organizationQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/server/queries/userQueries.ts
  frontend/src/utils/metaconfig.ts
  frontend/src/utils/metadata.ts
Labels: frontend, ci

#1444 introduced separate component for dropdown to enhance the main menu
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/src/components/Header.tsx
  frontend/src/components/NavDropDown.tsx
Labels: frontend, frontend-tests

#1428 Fixing anchor title for consistent behaviour
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/components/ToggleableList.tsx
Labels: frontend, frontend-tests
